<!DOCTYPE html>
<html lang="ko" xmlns:data-th-="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset = "UTF-8">
    <title>onemoa mypage</title>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <link href="/onemoa/css/onemoa.css" rel="stylesheet">
    <link href="/onemoa/css/onemoaMypage.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/onemoa/js/onemoa.js"></script>
    <style>
      table.type01 {
        border-collapse: collapse;
        text-align: left;
        line-height: 1.5;
        margin : 20px 10px;
        width: 91%;
      }
      table.type01 th {
        width: 150px;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        border: 1px solid #ccc;
      }
      table.type01 td {
        width: 350px;
        padding: 10px;
        vertical-align: top;
        border: 1px solid #ccc;
      }
    </style>
  </head>
  <body style="overflow-x: hidden">

  <div data-th-replace="/fragments/nav.html :: fragment-nav"></div>

  <ul class="myPage">
      <li class="mypageArea">
        <div class="nick">
          <img data-th-src="${'/onemoa/member/files/' + member.profile}">
          <p data-th-text="${member.nickname}">닉네임님</p>
        </div>
        <div class="mypageNav">
          <div class="myonemoa">
            <p>마이원모아</p>
            <span class="mybar"></span>
          </div>
          
          <ul class="mynav">
            <li><a class="font2" href="/onemoa/mypage/portfolioList">나의 포트폴리오</a></li>
            <li><a class="font" href="/onemoa/mypage/contestList">공모전관리</a></li>
            <li><a class="font2" href="">구매관리</a></li>
            <li><a class="font2" href="">판매관리</a></li>
            <li><a class="font2" href="">상품관리</a></li>
            <li><a class="font2" href="">결제내역</a></li>
            <li><a class="font2" href="">1:1 문의내역</a></li>
            <li class="menu">
              <a class="font2" href="myinfo">계정설정</a>
              <ul class="hide">
                <li><a class="font2" href="../mypage/myinfo">내정보수정</a></li>
                <li><a class="font2" href="../mypage/changepw">비밀번호변경</a></li>
                <li><a class="font2" href="../mypage/leave">회원탈퇴</a></li>
              </ul>
            </li>
          </ul>
          
        </div>

      </li>
      <li class="mypageArea">
        <div class="mypagePortfolio">
          <!-- modal5 팀장상세보기 -->
              <div class="teamJangD2">
                <p id="xx-readerNickname1" class="pp2">닉네임님 상세정보</p>
                <ul class="tjd2">
                  <li>
                    <div class="tjdimg2">
                      <img id="xx-readerProfile" src="../img/profile1.png" data-th-src="${'/onemoa/member/files/' + member.profile}">
                      <p id="xx-readerNickname2" data-th-text="${member.nickname}">닉네임</p>
                    </div>
                  </li>
                  <li>
                    <p id="xx-readerContent" data-th-text="${leader.cont}"}>[나를 소개하는 글]
                      안녕하세요!
                      저는 편집을 많이 해봤고 수상경험도 있습니다!
                      제가 촬영이 부족하여 촬영을 잘 해주시는 분을 구하고
                      있습니다!
                      열정 가득한 분을 구하고 있고 되도록이면 서울쪽에서 모일 수 있는 분이셨으면
                      좋겠습니다.
                      많은 관심 부탁드리고 궁금하신 점이 있으시다면
                      아래 댓글 달아주세요!
                    </p>
                  </li>
                </ul>
              </div>

              <div class="portfolio2">
                <p>포트폴리오</p>
                <ul id="xx-readerPortfolios">
                   <li data-th-each="file : ${leader.contestTeamPortfolios}">
                     <a href="portfolio1" data-th-href="${file.fpath}" data-th-text="${file.fpath}" onClick="window.open(this.href, '', 'width=1000px, height=1080px')"; target="_blank">- https://onemoa/portfolio1</a>
                   </li>
                  <!--                <li><a href="portfolio1">- https://onemoa/portfolio1</a></li>-->
                  <!--                <li><a href="https://onemoa/portfolio2">- https://onemoa/portfolio2</a></li>-->
                  <!--                <li><a href="https://onemoa/portfolio3">- https://onemoa/portfolio3</a></li>-->
                </ul>
              </div>

              <div class="portfolio2">
                <p data-th-text="${field}"></p>
                <p>팀원구해요</p>
                <ul id="xx-readerField" data-th-each="field : ${fields}">
                  <p data-th-text="${field}"></p>
                  <li>모집인원 5명 (촬영 3 / 편집 2 / 음향 1)</li>
                  <li><span>모집중&nbsp;&nbsp;&nbsp;</span> 촬영 <span>2</span> / 편집 <span>2</span> / 음향 <span>0</span></li>
                  <button class="tmm" onclick="dis5()">팀원 지원하기</button>
                </ul>
              </div>

              <div class="portfolio2" id="xx-fieldMemberUl">
          </div><!--modal5-->
        </div>
      </li>
    </ul>

  <footer data-th-replace="/fragments/footer.html :: fragment-footer"></footer>
  <script>
    // $('.modal2').show();
  </script>
  </body>
</html>
