<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset = "UTF-8">
    <meta http-equiv='Refresh' content='1; url=../'>
    <title>onemoa mypage</title>
    <link href="/onemoa/css/onemoa.css" rel="stylesheet">
    <link href="/onemoa/css/onemoaMypage.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/onemoa/js/onemoa.js"></script>
  </head>
  <body style="overflow-x: hidden">
    
    <div data-th-replace="/fragments/nav.html :: fragment-nav"></div>
    
    <ul class="myPage">
      <li class="mypageArea">
        <div class="nick">
           <img data-th-src="${'/onemoa/member/files/' + member.profile}">
           <p data-th-text="${member.nickname}">닉네임님</p>
        </div>
        <div class="mypageNav">
          <div class="myonemoa">
            <p>마이원모아</p>
            <span class="mybar">
          </div>
          <ul class="mynav">
            <li><a class="font2" href="../mypage/portfolioList">포트폴리오 관리</a></li>
            <li><a class="font2" href="/onemoa/mypage/contestList">공모전 관리</a></li>
            <li><a class="font2" href="/onemoa/mypage/buysList">구매 관리</a></li>
            <li><a class="font2" href="/onemoa/mypage/salesList">판매 관리</a></li>
            <li><a class="font2" href="/onemoa/mypage/productList">상품 관리</a></li>
            <li><a class="font2" href="">결제내역</a></li>
            <li><a class="font2" href="">1:1 문의내역</a></li>
            <li class="menu">
              <a class="font" href="myinfo">계정설정</a>
              <ul class="hide">
                <li><a class="font2" href="../mypage/myinfo">내정보수정</a></li>
                <li><a class="font" href="../mypage/changepw">비밀번호변경</a></li>
                <li><a class="font2" href="../mypage/leave">회원탈퇴</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="mypageArea">
        <div class="mypagePortfolio">
          <p class="mptxt2">비밀번호변경</p>
          <p>비밀번호가 변경되었습니다.</p>
        </div><!--mypagePortfolio-->
      </li>
    </ul>


   <footer data-th-replace="/fragments/footer.html :: fragment-footer"></footer>

    <script>
      const body = document.querySelector('body');
      const modal = document.querySelector('.modal');
      const btnOpenPopup = document.querySelector('.btn-open-popup');
      const closebtn = document.querySelector('.closebtn');

      btnOpenPopup.addEventListener('click', () => {
        modal.style.display = 'block';

        if (modal.classList.contains('show')) {
          body.style.overflow = 'hide';
        }
        body.style.overflow = 'hidden';
      });

      closebtn.addEventListener('click', () => {
        modal.style.display = 'none';
        body.style.overflow = 'auto';
      });
    </script>

  </body>
</html>
