<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset = "UTF-8">
    <title>onemoa mypage</title>
    <link href="/onemoa/css/onemoa.css" rel="stylesheet">
    <link href="/onemoa/css/onemoaMypage.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/onemoa/js/myinfo.js"></script>  
  </head>
  <body style="overflow-x: hidden">
    
    <div class="modal"style="position: absolute; z-index: 1;">
      <div class="modal_body">
        <div calss="login_container">
          <button class="closebtn"><img src="../img/x.png"></button>
          <p>로그인</p>
          <form action='login' method="post">
            <table class="input_login" >
              <tr>
                <td><input name='email' type='email' id='email' value="user1@test.com" placeholder="이메일을 입력해 주세요." data-th-value="${email}"></td>
              </tr>
              <tr>
                <td><input name='password' type='password' id='password' placeholder="패스워드를 입력해 주세요."></td>
              </tr>
            </table>
            <label for="label-a"><input type="checkbox" name="saveEmail" id="email2">이메일 유지<br></label>
            <p class="find"><a href = "#">아이디 찾기</a> / <a href = "#">패스워드 찾기</a></p>
            <p>
              <button type='submit' class="loginbtn" id="adminCheck"><img src="../img/loginbtn.png"></button>
            </p>
          </form>
          <div class="sns">
            <p class="snsp">SNS로 간편하게 로그인하세요.</p>
            <a href="#"><img src="../img/kakao.png"></a>
            <a href="#"><img src="../img/naver.png"></a>
            <a href="#"><img src="../img/google.png"></a>
          </div>
          <div class="sign">
            <a href="joinForm.html"><img src="../img/signup.png"></a>
          </div>
        </div>
      </div>
    </div>
    
    <header>
      <div class="nav">
        <a href="/onemoa"><p class="logo">ONEMOA</p></a>
        <ul class="firstnav">
          <li data-th-if="${session.loginMember != null}"><a href="http://localhost:3333/onemoa/logout" data-th-text="로그아웃">로그아웃</a></li>
          <li><button class="btn-open-popup" data-th-if="${session.loginMember == null}">로그인</button></li>
          <li><a href="../portfolio/portfolioList">마이페이지</a></li>
          <li><a href="#">메시지</a></li>
        </ul>
      </div>

      <div class="menu">
        <ul class="secnav">
          <li><a href="contestTeam.html"><p>공모전</p></a></li>
          <li><a href="#"><p>재능판매</p></a></li>
        </ul>
      </div>
    </header>
    
    <ul class="myPage">
      <li class="mypageArea">
        <div class="nick">
          <img data-th-src="${'/onemoa/member/files/' + member.profile}">
          <p data-th-text="${member.nickname}">닉네임님</p>
        </div>
        <div class="mypageNav">
          <div class="myonemoa">
            <p>마이원모아</p>
            <span class="mybar">
          </div>
          <ul class="mynav">
            <li><a class="font2" href="../portfolio/portfolioList">나의 포트폴리오</a></li>
            <li><a class="font2" href="">구매관리</a></li>
            <li><a class="font2" href="">판매관리</a></li>
            <li><a class="font2" href="">나의 서비스관리</a></li>
            <li><a class="font2" href="">결제내역</a></li>
            <li><a class="font2" href="">1:1 문의내역</a></li>
            <li class="menu">
              <a class="font" href="myinfo">계정설정</a>
              <ul class="hide">
                <li><a class="font" href="../mypage/myinfo">내정보수정</a></li>
                <li><a class="font2" href="../mypage/changepw">비밀번호변경</a></li>
                <li><a class="font2" href="../mypage/leave">회원탈퇴</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="mypageArea">
        <div class="mypagePortfolio">
          <p class="mptxt2">내정보수정</p>

          <form action="myinfoUpdate" method="post">
          <div class="mypageArea3">
            <img data-th-src="${'/onemoa/member/files/' + member.profile}">
            <label class="porfile" for="porfile"><p class="profilupdate">프로필 변경</p></label>
            <input name='files' type="file" multiple id="porfile" style="display: none">
          </div>
          <div class="mypageArea3">
          <input name='no' type='hidden' value='1' data-th-value="${member.no}" readonly>
          <input name='name' type='hidden' value='홍길동' data-th-value="${member.name}" readonly size='60'>
          
            <div class="joinForm-grid-item">
              <p data-th-text="${member.nickname}">닉네임</p>
            </div>
            <div class="joinForm-grid-item">
              <input
                  class="nickname-input"
                  type="text"
                  name="nickname"
                  id="nickname"
                  placeholder="닉네임을 입력해 주세요"
                  maxlength="20"
                  required
                  data-th-value="${member.nickname}" 
              />
              <button type="button" id="nicknameCheckBtn" class="nickname_check_btn">
                중복검사
              </button>
            </div>
            <div class="joinForm-grid-item">
              <input type="text" id="nicknameCheckBox" required value="" readonly/>
            </div>

            <div class="joinForm-grid-item">
              <p>이메일</p>
            </div>
            <div class="joinForm-grid-item">
              <div class="mail-input-box">
                <input
                    class="email-input"
                    type="email"
                    name="email"
                    id="joinEmail"
                    placeholder="이메일을 입력해 주세요"
                    maxlength="30"
                    required
                    data-th-value="${member.email}"
                />
                <button type="button" id="email_auth_btn" class="email_auth_btn">
                  인증번호 받기
                </button>
              </div>
            </div>
            <div class="joinForm-grid-item" id="email-auth-box">
              <input
                  class="mail-input-check"
                  id="email-auth-key"
                  name="emailAuthkey"
                  placeholder="인증번호 입력"
              />
              <button
                  type="button"
                  id="email_auth_check_btn"
                  class="email_auth_check_btn"
              >
                인증하기
              </button>
            </div>

            <div class="joinForm-grid-item">
              <p>우편번호</p>
            </div>
            <div class="joinForm-grid-item">
              <div class="address">
                <input
                    type="text"
                    id="sample6_postcode"
                    name="postNo"
                    placeholder="우편번호"
                    required
                    data-th-value="${member.postNo}"
                />
                <input
                    type="button"
                    class="joinForm-postcode-bnt"
                    onclick="postcode()"
                    value="우편번호 찾기"
                /><br />
                <input
                    type="text"
                    id="sample6_address"
                    name="baseAddr"
                    placeholder="도로명주소"
                    required
                    data-th-value="${member.baseAddr}"
                /><br />
                <input
                    type="text"
                    id="sample6_detailAddress"
                    name="detailAddr"
                    placeholder="상세주소"
                    required
                    data-th-value="${member.detailAddr}"
                />
              </div>
            </div>

            <div class="joinForm-grid-item">
              <p>수익금 출금 은행</p>
            </div>
            <div class="joinForm-grid-item">
              <select id="bank" name="bank" class="bank" data-th-value="${member.bank}">
                <option value="0" data-th-selected="${member.bank}">수익금을 출금할 은행을 선택해주세요</option>
                <option value="우리은행" data-th-selected="${member.bank}=='우리은행'">우리은행</option>
                <option value="국민은행" data-th-selected="${member.bank}=='국민은행'">국민은행</option>
                <option value="신한은행" data-th-selected="${member.bank}=='신한은행'">신한은행</option>
                <option value="농협은행" data-th-selected="${member.bank}=='농협은행'">농협은행</option>
              </select>
            </div>

            <div class="joinForm-grid-item">
              <p>수익금 출금 계좌</p>
            </div>
            <div class="joinForm-grid-item">
              <div class="account-input-box">
                <input
                    class="account-input"
                    type="text"
                    name="account"
                    id="account"
                    placeholder="수익음 출금 계좌번호를 입력해 주세요"
                    maxlength="30"
                    required
                    data-th-value="${member.account}"
                />
              </div>
            </div>

            <div class="joinForm-grid-item">
              <p>직업</p>
            </div>
            <div class="joinForm-grid-item">
              <select id="jobNo" name="jobNo" class="job">
                <option value="0" selected>직업을 선택해주세요.</option>
                <option value="1">프리랜서</option>
                <option value="2">직장인</option>
                <option value="3">소상공인</option>
                <option value="4">스타트업 창업</option>
                <option value="5">대학(원)생</option>
                <option value="6">취업준비생</option>
              </select>
            </div>
            <div class="joinForm-grid-item">
              <input
                  type="text"
                  id="jobNoCheckBox"
                  required
                  value=""
                  readonly />
            </div>

            <div class="joinForm-grid-item">
              <p>관심사 선택</p>
            </div>
            <div class="interest-multiselect">
              <div class="interest-selectBox">
                <div class="interest" onclick="showInterestCheckboxes()">
                  <p>관심사를 선택해 주세요.</p>
                </div>
                <div id="interest-checkboxes">
                  <input type="checkbox" name="interests" value="010000" /><span>디자인</span><br />
                  <input type="checkbox" name="interests" value="020000"/><span>IT·프로그래밍</span><br />
                  <input type="checkbox" name="interests" value="030000"/><span>영상·사진·음향</span><br />
                  <input type="checkbox" name="interests" value="040000"/><span>번역·통역</span><br />
                  <input type="checkbox" name="interests" value="050000"/><span>영상·사진·음향</span><br />
                  <input type="checkbox" name="interests" value="060000"/><span>문서·글쓰기</span><br />
                  <input type="checkbox" name="interests" value="070000"/><span>비즈니스컨설팅</span><br />
                  <input type="checkbox" name="interests" value="080000"/><span>주문제작</span><br />
                </div>
              </div><!-- interest-selectBox -->
            </div><!-- interest-multiselect  -->
          <button type="submit" class="myinfobtn">수정하기</button>
          </div><!--mypageArea3-->
          </form>
            
        </div><!--mypagePortfolio-->
      </li>
    </ul>


    <footer>
      <ul class="footerMenu">
        <li><a href="#"><p>공지사항</p></a></li>
        <li><a href="#"><p>1 : 1 문의</p></a></li>
      </ul>
      <div class="detail">
        
          (주)ONEMOA  | 서울시 강남구 비트캠프 8층 | 대표 : 000 | 개인정보관리책임자 : 000 | 고객센터 : 1234-1234
          <span>고객센터 영업시간 10:30 ~ 18:00 ( 점심시간 13:00 ~ 14:00) 주말, 공휴일 휴무 | ONEMOA@onemoa.com | </span>
          <span>Copyright 2022 ONEMOA lnc.All rights reserved</span>
       
      </div>
    </footer>

    <script>
      const body = document.querySelector('body');
      const modal = document.querySelector('.modal');
      const btnOpenPopup = document.querySelector('.btn-open-popup');
      const closebtn = document.querySelector('.closebtn');

      btnOpenPopup.addEventListener('click', () => {
        modal.style.display = 'block';

        if (modal.classList.contains('show')) {
          body.style.overflow = 'hide';
        }
        body.style.overflow = 'hidden';
      });

      closebtn.addEventListener('click', () => {
        modal.style.display = 'none';
        body.style.overflow = 'auto';
      });
    </script>
    
  </body>
</html>
