<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>onemoa v</title>
  <link href="/onemoa/css/onemoa.css" rel="stylesheet">
  <link rel="icon" href="../img/favicon1.ico">
  <link rel="shortcut icon" href="../img/favicon1.ico">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="/onemoa/js/login.js"></script>
<!--  <script src="/onemoa/node_modules/sweetalert/dist/sweetalert.min.js"></script>-->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body style="overflow-x: hidden">
  <div data-th-replace="/fragments/nav.html :: fragment-nav"></div>
  <input type="hidden" id="uNumber" data-th-if="${member != null}"data-th-value="${member.no}"/>
  <div class="contest">
    <div class="contestbg">
      <img src="/onemoa/img/contestbg.png">
    </div>

    <div class="contestctg">
      <ul class="conctg">
        <li><a class="noType" href="/onemoa/contest/contestTeam?no=all" data-th-value="${no}">전체</a></li>
        <li><a class="noType" href="/onemoa/contest/contestTeam?no=개인전" data-th-value="${no}">개인전</a></li>
        <li><a class="noType" href="/onemoa/contest/contestTeam?no=팀전" data-th-value="${no}">팀전</a></li>
      </ul>
      <ul class="contype">
        <li>
          <a href="#" class="orgType font" value="1" data-th-if="${ono==1}" data-type="" data-th-text="${ono}"></a>
          <a href="#" class="orgType font" value="1" data-th-if="${ono!=1}" data-th-text="대기업"></a>
        </li>
        <li>
          <a href="#" class="orgType font" value="2" data-th-if="${ono==2}" data-th-text="${ono}"></a>
          <a href="#" class="orgType font" value="2" data-th-if="${ono!=2}" data-th-text="공공기관"></a>
        </li>
        <li>
          <a href="#" class="orgType font" value="3" data-th-if="${ono==3}" data-th-text="${ono}"></a>
          <a href="#" class="orgType font" value="3" data-th-if="${ono!=3}" data-th-text="자영업자"></a>
        </li>
      </ul>

      <input id="onoType" type="hidden" data-th-value="${ono}">

      <ul class="contype2">
        <li><a href="." class="font" id="sortReward" value="sortRw" data-type="" data-th-data-type="${sortRw}">상금순</a></li>
        <li><a href="." class="font" id="sortViewCount" value="sortVw" data-type="" data-th-data-type="${sortVw}">조회순</a></li>
        <li><a href="." class="font" id="sortEndDate" value="sortEd" data-type="" data-th-data-type="${sortEd}">마감임박순</a></li>
        <li><a href="." class="font" id="sortCreatDate" value="sortCd" data-type="" data-th-data-type="${sortCd}">등록순</a></li>
      </ul>
    </div>

    <div class="contestContents">
      <div class="contestBox">

        <!-- contestDetail modal2 -->
        <div class="modal2" style="position: absolute; z-index: 1;">
          <button class="closebtn2" onclick="clo()"><img style="position: fixed;" src="../img/x.png"></button>
          <div class="modal_body2">

            <div class="contestDetail">
              <p>공모전 상세정보</p>
              <ul class="detail">
                <li>
                  <div class="detailimg">
                    <img id="contestDetailImage" src="../img/condico.png">
                  </div>
                </li>
                <li>
                  <table class="contable">
                    <tr>
                      <td>주최</td>
                      <td id="contestDetailContOrg">해외자원개발진흥재단</td>
                    </tr>
                    <tr>
                      <td>주관</td>
                      <td id="contestDetailOrg">해외자원개발진흥재단</td>
                    </tr>
                    <tr>
                      <td>공모전분야</td>
                      <td id="contestDetailCategory">디자인</td>
                    </tr>
                    <tr>
                      <td>접수방법</td>
                      <td id="contestDetailAppl">이메일</td>
                    </tr>
                    <tr>
                      <td>참가자격</td>
                      <td id="contestDetailQual">대학생 | 일반인 | 초등학생 | 중학생 | 고등학생</td>
                    </tr>
                    <tr>
                      <td>접수기간</td>
                      <td id="contestDetailReceptionPeriod">2022-08-01~2022-12-25</td>
                    </tr>
                    <tr>
                      <td>상금</td>
                      <td id="contestDetailReward">200만원</td>
                    </tr>
                    <tr>
                      <td>홈페이지</td>
                      <td id="contestDetailPage">해외자원개발진흥재단</td>
                    </tr>
                    <tr>
                      <td>[첨부파일]</td>
                      <td id="xNameList">
                        <span>[첨부파일]</span>
                        <span>제8회 해외자원개발 바로알기 공모전 참가 신청서</span>
                        <span>및 개인정보 이용 동의서.hwp</span>
                      </td>
                    </tr>
                  </table>
                </li>
              </ul>
            </div>

            <div class="contestdtype">
              <p onclick="team()"><a href="#">상세정보</a></p>
              <p id="contestTypeTeam" onclick="team()"><a href="#">팀원구해요</a></p>
              <span></span>
            </div>

            <!-- 상세정보 -->
            <div class="contestIn">
              <div class="basicInformation">
                <img  src="../img/condico.png">
                <p>공모전 상세정보</p>
              </div>

              <table class="contestInformation">
                <tr>
                  <td><span>></span>공모전명</td>
                  <td id="contestDetailTitle">디자인 콘테스트</td>
                </tr>
                <tr>
                  <td><span>></span>주최명</td>
                  <td id="contestDetailOrg2">해외자원개발진흥재단</td>
                </tr>
                <tr>
                  <td><span>></span>공모전 설명</td>
                  <td id="contestDetailCont">저희 회사는 한국 식품을 해외로 수출하고 있는 수출전문업체입니다. 본 라면의 주 타겟층은 한국 식품을 좋아하고 한국 라면을 좋아하는 해외 일반 20,30대입니다. 지금까지 많은 제품들을 디자인 업체를 통해서 해왔지만 항상 먼가가 아쉬웠기에 원모아를 통해서 디자인 공모전을 해보고자 합니다. 정말 정말 많은 분들의 참여를 바랍니다.</td>
                </tr>
              </table>

              <div class="longcontext">
                <p><img src="../img/o.png">접수방법</p>
                <p>
                  - 재단 홈페이지(www.onemoa.or.kr)의 공지사항에서 참가신청서 양식 다운로드, 작성 후 작품 파일(대용량 첨부)과 함께 사무국 메일(onemoa@test.or.kr)로 제출
                  <span>⨳ 접수 확인 후 접수 확인 메일 발송 예정</span>
                </p>
              </div>

              <div class="longcontext2">
                <p><img src="../img/o.png">유의사항 (기타사항)</p>
                <p>- 응모자는 본인의 이름(실명)으로 응모해야 하며, 팀의 경우 대표자와 팀원 전체의 인적사항을 기재해야 합니다.</p>
                <p>- 공모 요강에 준하지 않는 작품은 심사 대상에서 제외될 수 있습니다.</p>
                <p>- 동일인(팀)에 대한 중복시상은 하지 않습니다.</p>
                <p>- 출품작은 미발표된 순수 창작물이어야 하며, 타인의 작품을 표절, 도용, 모방하면 수상을 취소할 수 있습니다.</p>
                <p>- 모든 출품작에 대한 저작권은 출품자에게 있습니다.</p>
                <p>- 상금에 대한 제세공과금은 수상자가 부담합니다.</p>
                <p>- 기타 요강에 명시되지 않은 내용은 주최 측 정책에 따릅니다.</p>
              </div>
            </div>


            <!-- 팀원구해요 -->
            <div class="person" style="display: none;">
              <p>안녕하세요, <span>잘 부탁드립니다!</span></p>
              <ul id="teamReaderList" class="teamJang">
<!--                <li>-->
<!--                  <a href="#" onclick="dis4()"><img src="../img/profile1.png" onmouseover="this.src='../img/profile11.png'" onmouseout="this.src='../img/profile1.png'"></a>-->
<!--                  <p>닉네임</p>-->
<!--                </li>-->
              </ul>
              <div class="insert">
                <p>나를 등록하고, <span>나에게 필요한 팀원을 구해보세요.</span></p>
                <div class="insertbtn">
                  <p onclick="dis2()">팀원 모집하기</p>
                </div>
              </div>

            </div>
          </div>
        </div><!--modal2-->

        <!-- modal3 팀원모집 -->
        <div class="modal3" style="position: absolute; z-index: 1;">
          <button class="closebtn3" onclick="clo2()"><img src="../img/x.png"></button>
          <div class="modal_body3">

              <div class="teamJangD">
                <p class="pp">팀원 모집하기</p>
                <ul class="tjd">
                  <li>
                    <div class="tjdimg">
                      <img id="teamRecruitFormReaderProfile" src="../img/profile1.png" style="width: 100%; height: auto; border-radius: 70%; overflow: hidden; margin-left: 14%;">
                    </div>
                    <input type="hidden" id="teamRecruitFormReaderNo">
                    <p id="teamRecruitFormReaderNickname">닉네임</p>
                  </li>
                  <li>
                    <textarea id="teamRecruitFormReaderIntroduction" name="teamRecruitFormReaderIntroduction" cols="70" rows="50" class="tjdtxt" placeholder="나를 소개하는 글을 입력해주세요."></textarea>
                  </li>
                </ul>
              </div>

              <div class="portfolio">
                <p>포트폴리오</p>
                <div name="hhhhhh">
                  <select id="xx-portfolioBox" name="port" class="po" onchange="portfolioBoxChange()">
                    <option value="포트폴리오를 선택해주세요." selected>포트폴리오를 선택해주세요.</option>
                  </select>
                </div>
                  <ul id="innerPortfolio" class="popopo"></ul>
              </div>

              <div class="recruitment">
                <p>모집분야와 인원을 선택해주세요.</p>
                <div name = "rrr" class="recruit">
                  <select id="xx-recru" name="recru" class="re">
                    <option value="모집분야를 선택해주세요." selected>모집분야를 선택해주세요.</option>
                    <option value="촬영">촬영</option>
                    <option value="편집">편집</option>
                    <option value="음향">음향</option>
                    <option value="디자인">디자인</option>
                  </select>
                  <select id="xx-personnel" name="personnel" class="re2" onchange="personnelSelect()">
                    <option value="인원" selected>인원</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>
                </div>
                <ul id="innerRecruitment" class="rerere"></ul>
              </div>

              <div class="teammate">
                <button class="tm" onclick="dis3()">팀원 모집하기</button>
                <button class="tm" onclick="clo2()">뒤로가기</button>
              </div>
          </div>
        </div><!--modal3-->

        <!--modal4 팀원모집확인-->
        <div class="modal4" style="position: absolute; z-index: 1;">
          <div class="modal_body4">
            <button class="closebtn4" onclick="clo3()"><img src="../img/x.png"></button>
            <p>팀원을 모집하시겠습니까?</p>
            <div class="teamb">
              <button class="leaderJoinBtn" onclick="dis()">확인</button>
              <button class="leaderJoinBtn" onclick="clo3()">취소</button>
            </div>
          </div>
        </div><!--modal4-->

        <!-- modal5 팀장상세보기 -->
        <div class="modal5" style="position: absolute; z-index: 1;">
          <button class="closebtn5" onclick="clo4()"><img src="../img/x.png"></button>
          <div class="modal_body5">

            <div class="teamJangD2">
              <p id="xx-readerNickname1" class="pp2">닉네임님 상세정보</p>
              <ul class="tjd2">
                <li>
                  <div class="tjdimg2">
                    <img id="xx-readerProfile" src="../img/profile1.png">
                  <p id="xx-readerNickname2">닉네임</p>
                  </div>
                </li>
                <li>
                  <p id="xx-readerContent">[나를 소개하는 글]
                    안녕하세요!
                    저는 편집을 많이 해봤고 수상경험도 있습니다!
                    제가 촬영이 부족하여 촬영을 잘 해주시는 분을 구하고
                    있습니다!
                    열정 가득한 분을 구하고 있고 되도록이면 서울쪽에서 모일 수 있는 분이셨으면
                    좋겠습니다.
                    많은 관심 부탁드리고 궁금하신 점이 있으시다면
                    아래 댓글 달아주세요!
                  </p>
                </li>
              </ul>
            </div>

            <div class="portfolio2">
              <p>포트폴리오</p>
              <ul id="xx-readerPortfolios">
<!--                <li><a href="portfolio1">- https://onemoa/portfolio1</a></li>-->
<!--                <li><a href="https://onemoa/portfolio2">- https://onemoa/portfolio2</a></li>-->
<!--                <li><a href="https://onemoa/portfolio3">- https://onemoa/portfolio3</a></li>-->
              </ul>
            </div>

            <div class="portfolio2">
              <p>팀원구해요</p>
              <ul id="xx-readerField">
                <li>모집인원 5명 (촬영 3 / 편집 2 / 음향 1)</li>
                <li><span>모집중&nbsp;&nbsp;&nbsp;</span> 촬영 <span>2</span> / 편집 <span>2</span> / 음향 <span>0</span></li>
                <button class="tmm" onclick="dis5()">팀원 지원하기</button>
              </ul>
            </div>

            <div class="portfolio2" id="xx-fieldMemberUl">
              
            </div>
          </div>
        </div><!--modal5-->

        <!-- modal6 팀원지원하기 -->
        <div class="modal6" style="position: absolute; z-index: 1;">
<!--          <button class="closebtn6" onclick="clo2()"><img src="../img/x.png"></button>-->
          <button class="closebtn6" onclick="closeTest()"><img src="/onemoa/img/x.png"></button>
          <div class="modal_body6">

            <div class="teamOne">
              <p class="pp">팀원 지원하기</p>
              <ul class="tjd">
                <li>
                  <div class="tjdimg">
                    <img id="xx-fieldMemberProfile" src="/onemoa/img/profile1.png" style="width: 70%; height: auto;">
                  </div>
                  <p id="xx-fieldMemberNickname">닉네임</p>
                </li>
                <li>
                  <textarea id="xx-fieldMemberContent" cols="70" rows="50" class="tjdtxt" placeholder="나를 소개하는 글을 입력해주세요."></textarea>
                </li>
              </ul>
            </div>

            <div class="portfolio">
              <p>포트폴리오</p>
              <div name="hhhhhh2" class="hhhhhh2">
                <select name="port2" class="po2" id="xx-fieldMemberPortfolioSelectBox" onchange="fieldMemberDetailPortfolioBoxChange()">
<!--                  <option value="포트폴리오를 선택해주세요." selected>포트폴리오를 선택해주세요.</option>-->
<!--                  <option value="포트폴리오1">포트폴리오1</option>-->
                </select>
              </div>
              <ul id="innerPortfolio2"></ul>
            </div>

            <div class="recruitment">
              <p class="choice">지원분야를 선택해주세요.</p>
              <p id="xx-innerRecruitment"></p>
<!--              <p><input type="checkbox" name="recruitmentCheckbox" value="촬영"> 촬영</p>-->
<!--              <p><input type="checkbox" name="recruitmentCheckbox" value="편집"> 편집</p>-->
<!--              <p><input type="checkbox" name="recruitmentCheckbox" value="음향"> 음향</p>-->
            </div>

            <div class="teammate">
<!--              <button class="tm" onclick="dis3()">팀원 지원하기</button>-->
              <button class="tm" onclick="dis6()">팀원 지원하기</button>
              <button class="tm" onclick="clob()">뒤로가기</button>
            </div>

          </div>
        </div><!--modal6-->


        <!--modal7 팀원지원하기확인-->
        <div class="modal7" style="position: absolute; z-index: 1;">
          <div class="modal_body7">
            <button class="closebtn7" onclick="clo5()"><img src="/onemoa/img/x.png"></button>
            <p>팀원으로 지원을하시겠습니까?</p>
            
            <div class="teamb7">
              <button class="leaderJoinBtn" id="leaderJoin" onclick="dis5()">확인</button>
              <button class="leaderJoinBtn" onclick="clo6()">취소</button>
            </div>
            
          </div>
        </div><!--modal7-->

        <!-- modal8 팀원상세보기 -->
        <div class="modal8" style="position: absolute; z-index: 1;">
          <button class="closebtn8" onclick="clo7()"><img src="/onemoa/img/x.png"></button>
          <div class="modal_body8">

            <div class="teamJangD8">
              <p id="xx-fieldMemberDetailHeader" class="pp8">을 지원한 님 입니다.</p>
              <ul class="tjd8">
                <li>
                  <div class="tjdimg8">
                    <img id="xx-fieldMemberDetailProfile" src="/onemoa/img/profile1.png">
                  </div>
                  <p id="xx-fieldMemberDetailNickname2">닉네임</p>
                </li>
                <li>
                  <p id="xx-fieldMemberDetailContent">
                    [나를 소개하는 글]
                    안녕하세요!
                    저는 서울에 살고있고 편집 일을 시작한지 3년된 28살 프리랜서입니다!
                    저도 그 공모전에 같이 참여하고 싶은데
                    제 포트폴리오 보시고 연락주시면 감사하겠습니다 :)
                  </p>
                </li>
              </ul>
            </div>

            <div class="portfolio2">
              <p>포트폴리오</p>
              <ul id="xx-fieldMemberDetailPortfolios2">
                <li><a href="https://onemoa/portfolio1">- https://onemoa/portfolio1</a></li>
                <li><a href="https://onemoa/portfolio2">- https://onemoa/portfolio2</a></li>
                <li><a href="https://onemoa/portfolio3">- https://onemoa/portfolio3</a></li>
              </ul>
            </div>

            <div id="teammate8" class="teammate8">
<!--              <button id="tm8" class="tm8" onclick="dis8()">팀원 채택하기</button>-->
<!--              <button class="tm8" onclick="clo7()">뒤로가기</button>-->
            </div>

          </div>
        </div><!--modal8-->

        <!--modal9 팀원채택하기확인-->
        <div class="modal9" style="position: absolute; z-index: 1;">
          <div class="modal_body9">
            <button class="closebtn9" onclick="clo8()"><img src="/onemoa/img/x.png"></button>
            <p>팀원으로 지원을하시겠습니까?</p>
            <div class="teamb9">
<!--              <span><button id="teamb9" onclick="dis8(this.value)">확인</button></span>-->
<!--              <span><button onclick="clo8()">취소</button></span>-->
              <button class="memberSelectBtn" id="teamb9" onclick="dis8(this.value)">확인</button>
              <button class="memberSelectBtn" onclick="clo8()">취소</button>
            </div>
          </div>
        </div><!--modal9-->


<!--        &lt;!&ndash;modal10 팀원취소하기확인&ndash;&gt;-->
<!--        <div class="modal10" style="position: absolute; z-index: 1;">-->
<!--          <div class="modal_body10">-->
<!--            <button class="closebtn10" onclick="clo8()"><img src="/onemoa/img/x.png"></button>-->
<!--            <p>팀원으로 지원을하시겠습니까?</p>-->
<!--            <div class="teamb10">-->
<!--              <span><button id="teamb10" onclick="dis8(this.value)">확인</button></span>-->
<!--              <span><button onclick="clo8()">취소</button></span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>&lt;!&ndash;modal9&ndash;&gt;-->


        <!-- 콘테스트 리스트-->
        <div data-th-each="contest : ${contests}">
          <a href="#"><ul class="con" data-th-id="${contest.ctstNo}" data-th-value="${contest.team}">
            <li>
              <div class="conimg">
                <img id="contestListImage" data-th-src="${'/onemoa/contest/files/' + contest.thumbNail}">
              </div>
            </li>
            <li>
              <div class="contestName">
                <div class="contestHead">
                  <p data-th-text="${contest.contCategory.categoryName}">로고디자인</p>
                  <p>|</p>
                  <p data-th-text="${contest.title}">치킨브랜드에 어울리는 브랜드명</p>
                  <p>|</p>
                  <p data-th-if="${contest.team == '개인전'}">개인전</p>
                  <p data-th-if="${contest.team == '팀전'}">팀전</p>
                  <p>|</p>
                  <p data-th-text="${contest.contOrg.orgName}"></p>
                </div>
                <div class="contesttext">
                  <p data-th-text="${contest.subCont}">전문가님의 산뜻한 치킨브랜드 네이밍 부탁드립니다. 이름을 들었을 때 무언가 맛있는 느낌이 와도 좋지만 동떨어진 이름이지만<span>
                      기억하기 쉽고 어감이 좋으면 괜찮습니다. 바른 기본 올바른 전통 등등 이런 느낌이 연상되는 캐릭터명 같은 것도 괜찮습니다.</span>
                    <span>중요한 것은 상표등록이 가능해야합니다.</span>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="contestD">
                <p>총상금<span>만원</span><span data-th-text="${contest.reward}">100</span></p>
                <p>접수마감일<span data-th-text="${contest.eDate}">14일</span></p>
                <p>조회수<span data-th-text="${contest.vw_cnt}">303회</span></p>
              </div>
            </li>
          </ul>
          </a>
        </div>
      </div> <!--contestBox-->
    </div>

    <div class="nextBox">
      <nav class="xx-nav" aria-label="pagination">
        <ul class="xx-pagination">
          <li data-th-if="${pageMaker.prev}">
            <a data-th-href="@{contestTeam(pageMaker.startPage-1)}"><span aria-hidden="true">이전페이지</span><span class="xx-visuallyhidden">previous set of pages</span></a>
          </li>
          <data-th-block data-th-each="pageNum: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
            <li><a data-th-href="@{contestTeam(page=${pageNum})}"><span class="xx-visuallyhidden">page </span><span data-th-text="${pageNum}"></span></a></li>
          </data-th-block>
          <li data-th-if="${pageMaker.next && pageMaker.endPage >0}">
            <a data-th-href="@{contestTeam(page=${pageMaker.endPage+1})}"><span class="xx-visuallyhidden">next set of pages</span><span aria-hidden="true">다음페이지</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <footer data-th-replace="/fragments/footer.html :: fragment-footer"></footer>
  <script src="/onemoa/js/contestTeam.js"></script>
  <script th:inline="javascript">

    // 공모전 페이지 전체, 개인전, 팀전 클릭시 클릭한 링크 색상 변경
    let test = [[${no}]];
    console.log(test);
    let noLength = $(".conctg").find("a").length;
    for (let i = 0; i < noLength; i++) {
      if ($(".conctg").find("a").eq(0).attr("value") == 'all') {
        $(".conctg").find("a").eq(0).css("color", "black");
      }
      else if ($(".conctg").find("a").eq(0).attr("value") == $(".conctg").find("a").eq(i).text()) {
        $(".conctg").find("a").eq(i).css("color", "black");
      }
    }


    // 공모전 페이지 대기업, 공공기관, 자영업자 클릭시 클릭한 링크 색상 변경
    let urlParam = window.location.search.substring("ono");
    let onoValue = urlParam.substring(urlParam.lastIndexOf("=")+1, urlParam.length);

    if (window.location.search.includes("ono")) {
      console.log(onoValue);
      switch (onoValue) {
        case '1':
          $(".contype").find("a").eq(0).css("color", "black");
          break;
        case '2':
          $(".contype").find("a").eq(1).css("color", "black");
          break;
        case '3':
          $(".contype").find("a").eq(2).css("color", "black");
          break;
      }
    };

    // 리로드???
    window.onpageshow = function(e) {
      if (e.persisted || (window.performance && window.performance.navigation.type === 2)) {
        window.location.reload();
        console.log("리로드 완료");
      }
    }
  </script>
</body>
</html>