<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset = "UTF-8">
    <title>onemoa contestTeam</title>
    <link href="css/onemoa.css" rel="stylesheet">
    <link href="css/portfolioLink.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./js/onemoa.js"></script>
  </head>
  <body style="overflow-x: hidden;">
    
    <div class="portfolioLinkClick">
      <div class="portpart">
        <ul class="portfolio1">
          <li>
            <div class="proimgsize">
              <img src="./img/small.png"> 
            </div>
          </il>
          <li>닉네임님 포트폴리오</li>
        </ul>
        <span class="bar"></span>

        <div class="portcontents">
          <p>카드명함 디자인</p>
          <p>프로젝트 설명</p>
          <p>
            제가 직접 디자인한 카드 명함입니다. 심플한 디자인이 포인트이고 고급스러운 느낌을 주기위해
            무게감있는 색상을 사용하여 그 분위기를 더해주었습니다.
            제가 직접 디자인한 카드 명함입니다. 심플한 디자인이 포인트이고 고급스러운 느낌을 주기위해
            무게감있는 색상을 사용하여 그 분위기를 더해주었습니다.
          </p>
          <div class="wishsize">
            <a href="#"><img src="./img/wish.png"></a>
          </div>
        </div> <!--portcontents-->
        <span class="bar"></span>

        <div class="otherport">
          <p>닉네임님의 다른 포트폴리오</p>
          <ul class="otherlist">
            <li>
              <img src="./img/other.png">
              <p>포트폴리오 제목</p>
            </li>
            <li>
              <img src="./img/other.png">
              <p>포트폴리오 제목2</p>
            </li>
            <li>
              <img src="./img/other.png">
              <p>포트폴리오 제목2</p>
            </li>
            <li>
              <img src="./img/other.png">
              <p>포트폴리오 제목2</p>
            </li>
            <li>
              <img src="./img/other.png">
              <p>포트폴리오 제목2</p>
            </li>
          </ul>
        </div>
      </div><!--portpart-->

      <div class="portpart">
        <div class="portbig">
          <img src="./img/portbig.png">
        </div>
        <div class="portbig">
          <img src="./img/portbig.png">
        </div>
        <div class="portbig">
          <img src="./img/portbig.png">
        </div>
      </div><!--portpart-->
    </div>
    
  </body>
</html>
