<!DOCTYPE html>
<html lang="ko" xmlns:data-th-="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset = "UTF-8">
    <title>onemoa mypage</title>
    <link href="/onemoa/css/onemoa.css" rel="stylesheet">
    <link href="/onemoa/css/onemoaMypage.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/onemoa/js/onemoa.js"></script>
    <script src="/onemoa/js/login.js"></script>
  </head>
  <body style="overflow-x: hidden">
    <div data-th-replace="/fragments/nav.html :: fragment-nav"></div>
    <ul class="myPage">
      <li class="mypageArea">
        <div class="nick">
          <img src="../img/profile1.png">
          <p>닉네임님</p>
        </div>
        <div class="mypageNav">
          <div class="myonemoa">
            <p>마이원모아</p>
            <span class="mybar">
          </div>
          <ul class="mynav">
            <li><a href="portfolioList">나의 포트폴리오</a></li>
            <li><a href="">구매관리</a></li>
            <li><a href="">판매관리</a></li>
            <li><a href="">나의 서비스관리</a></li>
            <li><a href="">결제내역</a></li>
            <li><a href="">1:1 문의내역</a></li>
            <li><a href="">계정설정</a></li>
          </ul>
        </div>
      </li>
      <li class="mypageArea">
        <div class="mypagePortfolio">
          <p class="mptxt2">나의 포트폴리오<span class="addport"><a href="portfolioForm">포트폴리오 등록하기</a></span></p>
          <div class="portfolioBoxCon">
            <ul class="portfolioList">
              <li data-th-each="portfolio : ${portfolios}">
                <a href='portfolioDetail?ptNo=1' data-th-href="@{portfolioDetail?(ptNo=${portfolio.ptNo})}"><img data-th-src="${'/onemoa/portfolio/files/'+ portfolio.attachedFiles[0].filepath}" style="width: 255px; height: 255px;"></a>
                <p data-th-text="${portfolio.title}">포폴제목</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <footer data-th-replace="/fragments/footer.html :: fragment-footer"></footer>
  </body>
</html>
