<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset = "UTF-8">
    <title>onemoa mypage</title>
    <link href="/onemoa/css/onemoa.css" rel="stylesheet">
    <link href="/onemoa/css/onemoaMypage.css" rel="stylesheet">
    <link href="/onemoa/css/onemoaManage.css" rel="stylesheet">
    <link rel="icon" href="../../img/favicon1.ico">
    <link rel="shortcut icon" href="../../img/favicon1.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/onemoa/js/onemoa.js"></script>
  </head>

  <link href="/onemoa/css/admin.css" rel="stylesheet"/>
</head>
<style>
  .tableStyle {
    text-align: center;
  }
</style>
<body style="overflow-x: hidden">
<ul class="myPage">
  <li class="mypageArea">
    <div class="mypageNav">
      <div class="myonemoa">
        <p>관리자페이지</p>
        <span class="mybar"></span>
      </div>
      <ul class="mynav">
        <li><a class="font2" href="/onemoa/admin/member/memberList">회원관리</a></li>
        <li><a class="font2" href="/onemoa/admin/contest/contestList">공모전관리</a></li>
        <li><a class="font" href="/onemoa/admin/product/productList">재능판매관리</a></li>
        <li><a class="font2" href="/onemoa/admin/qna/list">1:1문의관리</a></li>
        <li><a class="font2" href="/onemoa/admin/faq/list">FAQ관리</a></li>
        <li><a class="font2" href="/onemoa/admin/notice/list">공지사항관리</a></li>
      </ul>
    </div>
  </li>
  <li class="mypageArea">
    <h1 style="text-align: center; padding-right: 5vw">재능 판매 관리</h1>
    <div>
      <table style="margin-bottom: 5vw;" class="type01">
        <tr>
          <th class="tableStyle">No</th>
          <th style="width: 70vw;" class="tableStyle">제목</th>
          <th class="tableStyle">작성자</th>
          <th class="tableStyle">상태</th>

        <tr data-th-each="product : ${products}">
          <td class="tableStyle" style="width: 5vw" data-th-text="${product.no}">100</td>
          <td class="tableStyle" style="width: 70vw" >
            <a href='detail?no=1'
               data-th-href="@{productDetail(no=${product.no})}"
               data-th-text="${product.title}">제목</a>
          </td>
          <td class="tableStyle" style="width: 10vw"  data-th-text="${product.writer.nickname}">홍길동</td>
          <td class="tableStyle" style="width: 10vw"  data-th-if="${product.status} != 0 " data-th-text="공개">상태</td>
          <td class="tableStyle" style="width: 10vw; color: red"  data-th-if="${product.status} == 0 " data-th-text="비공개">상태</td>
      </tr>
      </table>
    </div>
    </div>
  </li>
</ul>
<footer data-th-replace="/fragments/footer.html :: fragment-footer"></footer>
</body>
</html>
