* {
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.btn-open-popup {
  cursor: pointer;
}
.closebtn {
  cursor: pointer;
}
.loginbtn {
  cursor: pointer;
}
/* 메인페이지 header start */
header {
  padding-top: 20px;  
  padding-left: 3.906%;
  height: 156px;
}
header .nav a .logo {
  font-size: 26px;
  margin-left: 3%;
  font-weight: bold;
}

header .nav .firstnav li {
  float: right;
  margin-right: 3.906%;
  font-size: 1.3021vW;
  font-family:'Noto Sans KR','Apple SD Gothic','맑은고딕',sans-serif;
  position: relative;
  top: -40px;
}
header .nav .firstnav li .btn-open-popup {
  float: right;
  margin-right: 3.906%;
  font-size: 1.3021vW;
  font-family:'Noto Sans KR','Apple SD Gothic','맑은고딕',sans-serif;
  border: none;
  background-color: transparent;
  width: 100px;
}
header .menu .secnav li {
  float: left;
  font-size: 1.3021vW;
  margin-left: 3.125%;
  position: relative;
  top: -10px;
}
header .menu .secnav li a:hover p {
  color: #707fc2;
  transition: all .3s;
}
header .firstnav li a:hover {
  color: #707fc2;
  transition: all .3s;
}
header .firstnav li .btn-open-popup:hover {
  color: #707fc2;
  transition: all .3s;
}


/* 메인페이지 mainContents start */
.mainBanner {
  width: 100%;
}
.mainBanner img {
  width: 100%;
}
.mainContents {
  width: 100%;
  height: auto;
  padding-top: 132px;
}
.mainContents .mainCategory {
  font-size: 1.6667vW;
  font-weight: bold;
  color: #333;
  width: 100%;
  height: 220px;
  padding-left: 8.531%;
}
.mainContents .mainCategory p {
  padding-bottom: 40px;
}

.mainContents .mainCategory .mctg li img {
  margin-right: 2.812%;
  float: left;
  display: block;
  width: 15.955%;
  height: auto;

}

.mainContents .mainContest {
  font-size: 1.6667vW;
  font-weight: bold;
  color: #333;
  padding-left: 8.531%;
  width: 100%;
  height: 252px;
  padding-top: 113px;
}

.mainContents .mainContest .mcon {
  width: 100%;
  height: 50px;
  margin-top: 22px;

}
.mainContents .mainContest .mcon li {
  float: left;
}
.mainContents .mainContest .mcon li img {
  width: 85%;
}

/* slidebox */
.slidebox {max-width:85%;margin:0 auto;position:relative;}
.slidebox .slidelist {position:relative;white-space:nowrap;font-size:0;overflow:hidden;}
.slidebox .slidelist .slideitem {position:relative;display:inline-block;vertical-align:middle;background-color:#fff;width:100%;transition:all 1s;}
.slidebox .slidelist .slideitem > a {display:block;width:auto;position:relative;}
.slidebox .slidelist .slideitem > a img {max-width:23.581%; float: left; margin-left: 1.145%;}

.slidebox .slide-control [class*="control"] label {position:absolute;z-index:10;top:40%;transform:translateY(-50%);padding:20px;border-radius:50%;cursor:pointer;}
.slidebox .slide-control [class*="control"] label.prev {left:-50px;background: url('../img/arrow1.png') center center / 50% no-repeat;}
.slidebox .slide-control [class*="control"] label.next {right:-50px;background: url('../img/arrow2.png') center center / 50% no-repeat;}

[name="slide"] {display:none;}
#slide01:checked ~ .slidelist .slideitem {left:0;}
#slide02:checked ~ .slidelist .slideitem {left:-100%;}
#slide03:checked ~ .slidelist .slideitem {left:-200%;}
#slide04:checked ~ .slidelist .slideitem {left:-300%;}

.slide-control [class*="control"] {display:none;}
#slide01:checked ~ .slide-control .control01 {display:block;}
#slide02:checked ~ .slide-control .control02 {display:block;}
#slide03:checked ~ .slide-control .control03 {display:block;}
#slide04:checked ~ .slide-control .control04 {display:block;}


/* maiinReview */
.mainReview {
  margin-top: 162px;
}
.mainReview p {
  margin-bottom: 62px;
  font-size: 1.6667vW;
  font-weight: bold;
  padding-left: 8.531%;
  color: #333;
}
.mainReview p span {
  display: block;
  margin-top: 5px;
}
.clearfix {overflow: hide;}
.clearfix::after {content: ""; clear: both; display: table; }
.clear{clear: both;}    
.gallery{width: 100%; height: 650px; margin: 20px auto; overflow: hidden; padding-left:0; }
.gallery ul{width: 300%; position: relative; left: -300px;}
.gallery ul li img{float: left; width: 8.328%; height: auto; box-sizing: border-box; padding: 15px; text-align: center; }

/* footer */
footer {
  width: 100%;
  height: 392px;
  background-color: #7c8595;
  padding-top: 130px;
  padding-left: 10.52%;
}
footer .footerMenu li a p {
  float: left;
  color: #fff;
  font-size: 1.2500vw;
  margin-left: 2.083%;
  height: 18px;
}
footer .footerMenu li a p:hover {
  color: #07214e;
  transition: all .3s;
}
footer .detail {
  margin-top: 60px;
  color: #fff;
  font-size: 1.2500vw;
  margin-left: 24px;
  line-height: 25px;
}
footer .detail span {
  display: block;
}

/* login */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal.show {
  display: block;
}
.modal.hide {
  display: none;
}
.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 29.833%;
  height: 690px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}
p {
  font-size: 1.5278vw;
  color: #333;
  margin-bottom: 20px;
  margin-top: 20px;
}

table tr td input {
  display: block;
  width: 178%;
  height: 47px;
  background-color: #fff;
  border: 2px solid #dedede;
  padding-left: 10px;
  margin-left: 25px;
  margin-bottom: 8px;
  border-radius: 5px;
}
.loginbtn {
  width: 100%;
  background-color: #fff;
}
.loginbtn img {
  width: 85.4%;
}
.loginbtn {
  border: none;
  margin-top: -20px;
}
.email {
  color: #333333;
  padding-left: 10px;
}
.find {
  font-size: 0.9722vw;
  color: #333333;
  float: right;
  position: relative;
  right: 30px;
  top: -50px;
}
#email {
  float: left;
}
input[id="email"] {
  position: relative;
  top: -10px;
  left: 30px;
}
label[for="label-a"] {
  position: relative;
  top: -10px;
  left: 40px;
  float: left;
  font-size: 0.9722vw;
}
.sns p {
  font-size: 0.9722vw;
  color: #666666;
  position: relative;
  right: 10px;
  top: 10px;
}
.sns img {
  margin-bottom: 5px;
  width: 85.4%;
}
.sns {
  width: 100%;
}
.sign {
  width: 100%;
}
.sign img {
  margin-top: 10px;
  width: 85.4%;
}
.closebtn {
  border: none;
  background-color: #fff;
  float: right;
  margin-top: -30px;
  margin-left: 30px;
}