<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>manage_member</title>
  <style>
    a {
      text-decoration:none;
      color: #000;
    }
  </style>
</head>
<body>
  <h1>회원 상세 정보</h1>
  <form action='memberUpdate' method="post">
  <table border='1'>
    <tr>
      <th>번호</th><td><input name='no' type='number' 
          value='1' data-th-value="${member.no}" 
          readonly></td>
    </tr>
    <tr>
      <th>이름</th><td><input name='name' type='text' 
          value='홍길동' data-th-value="${member.name}" 
          size='60'></td>
    </tr>
    <tr>
      <th>닉네임</th><td><input name='nickname' type='text' 
          value='홍길동' data-th-value="${member.nickname}" 
          size='60'></td>
    </tr>
    <tr>
      <th>이메일</th><td><input name='email' type='email' 
          value='hong@test.com' data-th-value="${member.email}"
          size='60'></td>
    </tr>
    <tr>
      <th>암호</th><td><input name='password' type='password' size='10'></td>
    </tr>
    <tr>
    <th>직업</th>
    <td><input name='jobNo' type='number' value=''  max='6'
     data-th-value="${member.jobNo}"></td>
  </tr>
    <tr>
      <th>우편번호</th><td><input name='postNo' type='text' 
          value='홍길동' data-th-value="${member.postNo}" 
          size='60'></td>
    </tr>
    <tr>
      <th>기본주소</th><td><input name='baseAddr' type='text' 
          value='홍길동' data-th-value="${member.baseAddr}" 
          size='60'></td>
    </tr>
    <tr>
      <th>상세주소</th><td><input name='detailAddr' type='text' 
          value='홍길동' data-th-value="${member.detailAddr}" 
          size='60'></td>
    </tr>
    <tr>
      <th>등록일</th><td data-th-text="${member.createdDate}">2022-1-1</td>
    </tr>
  </table>
  <p>
    <button type='submit'>변경</button>
    <button><a href='memberDelete?no=1' data-th-href="@{memberDelete(no=${member.no})}">삭제</a></button>
  </p>
  </form>

</body>
</html>