<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>bitcamp</title>
  <link rel="icon" href="../../img/favicon1.ico">
  <link rel="shortcut icon" href="../../img/favicon1.ico">
  <style>
      a {
        text-decoration:none;
        color: #000;
      }
    </style>
</head>
<body>
<h1>회원 입력</h1>

<form action='memberAdd' method="post">
<table border='1'>
  <tr>
    <th>이름</th>
    <td><input name='name' type='text' value='' size='60'></td>
  </tr>
  <tr>
    <th>닉네임</th>
    <td><input name='nickname' type='text' value='' size='60'></td>
  </tr>
  <tr>
    <th>이메일</th>
    <td><input name='email' type='email' value='' size='60'></td>
  </tr>
  <tr>
    <th>암호</th>
    <td><input name='password' type='password' size='10'></td>
  </tr>
  <tr>
    <th>직업</th>
    <td><input name='jobNo' type='number' value=''  max='6'></td>
  </tr>
  <tr>
    <th>우편번호</th>
    <td><input name='postNo' type='text' value='' size='60'></td>
  </tr>
  <tr>
    <th>기본주소</th>
    <td><input name='baseAddr' type='text' value='' size='60'></td>
  </tr>
  <tr>
    <th>상세주소</th>
    <td><input name='detailAddr' type='text' value='' size='60'></td>
  </tr>
</table>
<p>
  <button type='submit'>등록</button>
  <button><a href='memberList'>목록</a></button>
</p>
</form>


</body>
</html>