<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>manage_member</title>
  <style>
    a {
      text-decoration:none;
      color: #000;
    }
  </style>
</head>
<body>
  <h1 style="text-align: center; margin-top:70px;">회원 상세 정보</h1>
  <form action='memberUpdate' method="post" id='adminMemberUpdate'>
  <table border='1' style="margin: 0 auto;">
    <tr>
      <th>번호</th><td><input name='no' type='number' 
          value='1' data-th-value="${member.no}" 
          readonly></td>
    </tr>
    <tr>
      <th>이름</th><td><input name='name' type='text' 
          value='홍길동' data-th-value="${member.name}" 
          size='60'></td>
    </tr>
    <tr>
      <th>닉네임</th><td><input name='nickname' type='text' 
          value='홍길동' data-th-value="${member.nickname}" 
          size='60'></td>
    </tr>
    <tr>
      <th>이메일</th><td><input name='email' type='email' 
          value='hong@test.com' data-th-value="${member.email}"
          size='60'></td>
    </tr>
    <tr>
      <th>암호</th><td><input name='password' type='password' size='10'></td>
    </tr>
    <tr>
      <th>직업</th>
      <td><input name='jobNo' type='number' value='0' max='6' id="adminJobNO"
       data-th-value="${member.jobNo}"></td>
    </tr>
    <tr>
      <th>우편번호</th><td><input name='postNo' type='text' 
          value='홍길동' data-th-value="${member.postNo}" 
          size='60'></td>
    </tr>
    <tr>
      <th>기본주소</th><td><input name='baseAddr' type='text' 
          value='홍길동' data-th-value="${member.baseAddr}" 
          size='60'></td>
    </tr>
    <tr>
      <th>상세주소</th><td><input name='detailAddr' type='text' 
          value='홍길동' data-th-value="${member.detailAddr}" 
          size='60'></td>
    </tr>
    <tr>
      <th>수익금 출금 은행</th>
      <td>
        <select id="bank" name="bank" class="bank" data-th-value="${member.bank}">
          <option value="0" data-th-selected="${member.bank}">수익금을 출금할 은행을 선택해주세요</option>
          <option value="우리은행" data-th-selected="${member.bank}=='우리은행'">우리은행</option>
          <option value="국민은행" data-th-selected="${member.bank}=='국민은행'">국민은행</option>
          <option value="신한은행" data-th-selected="${member.bank}=='신한은행'">신한은행</option>
          <option value="농협은행" data-th-selected="${member.bank}=='농협은행'">농협은행</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>수익금 출금 계좌</th><td><input name='account' type='text' 
          value='홍길동' data-th-value="${member.account}" 
          size='60'></td>
    </tr>
    <tr>
      <th>등록일</th><td data-th-text="${member.createdDate}">2022-1-1</td>
    </tr>
    
  </table>
  <p style="text-align: center;">
    <button type='button' id="checkMember">변경</button>
    <button><a href='memberDelete?no=1' data-th-href="@{memberDelete(no=${member.no})}">삭제</a></button>
  </p>
  </form>
<script>

  document.getElementById("checkMember").addEventListener("click", function() {

      const adminMemberUpdate = document.getElementById("adminMemberUpdate");
      const jobNoCheck = document.getElementById("adminJobNO");

      if (jobNoCheck.value == 0) {
        alert("직업을 입력해주세요!");
      } else {
    	  adminMemberUpdate.submit();
        return true;
      }
  });
  </script>
</body>
</html>