<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset = "UTF-8">
    <title>onemoa v</title>
    <link href="/onemoa/css/admin.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    
    <div class="adminpage">
      <h1>ONEMOA ADMIN</h1>
      <form action='adminlogin' method="post">
        <div class="input_admin">
          <input name='email' type='text' id='email' value="" placeholder="관리자 아이디">
          <input name='password' type='password' id='password' placeholder="관리자 패스워드">
        </div>
        <button type='submit' class="adminLogin">로그인</button>
      </form>
    </div>

  </body>
</html>
