<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원목록</title>
  <style>
    tr:hover {
      background-color: gray;
      color: white;
    }
  </style>
</head>
<body>
<table border='1'>
  <tr>
    <th>번호</th>
    <th>이메일</th>
    <th>닉네임</th>
    <th>이름</th>
    <th>전화번호</th>
    <th>가입일</th>
    <th>우편번호</th>
    <th>기본주소</th>
    <th>상세주소</th>
    <th>직업</th>
    <th>은행명</th>
    <th>계좌번호</th>
    <th>프로필</th>
    <th>상태</th>
    <th>관심사</th>
  </tr>

  <tr data-th-each="member : ${members}">
    <td data-th-text="${member.no}">1</td>
    <td><a href='detail?no=1' data-th-href="@{detail(no=${member.no})}" data-th-text="${member.email}">user1@test.com</a></td>
    <td data-th-text="${member.nickname}">찰스</td>
    <td data-th-text="${member.name}">홍길동</td>
    <td data-th-text="${member.tel}">전화번호</td>
    <td data-th-text="${member.createdDate}">우편번호</td>
    <td data-th-text="${member.postNo}">우편번호</td>
    <td data-th-text="${member.baseAddr}">기본주소</td>
    <td data-th-text="${member.detailAddr}">상세주소</td>
    <td data-th-text="${member.jobNo}">직업</td>
    <td data-th-text="${member.bank}">은행명</td>
    <td data-th-text="${member.account}">계좌번호</td>
    <td data-th-text="${member.profile}">프로파일</td>
    <td data-th-text="${member.status}">상태</td>
    <td data-th-text="${member.interests}">관심사</td>
  </tr>
</table>
<p>
  <a href='/onemoa/index/'>메인</a>
</p>
</body>
</html>