<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/onemoa/css/onemoa.css" rel="stylesheet">
    <script src="/onemoa/js/login.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>원모아</title>
</head>
<style>


    .star-rating {
        width: 101px;
    }

    .star-rating, .star-rating span {
        display: inline-block;
        height: 18px;
        overflow:hidden;
        background:url('img/reviewstar.png')no-repeat;
    }

    .star-rating span {
        background-position: left bottom;
        line-height: 0;
        vertical-align: top;
    }

    #starRow {
        width: 15%;
    }

    /*--------------------*/
    .star-rating {
        width: 101px;
    }

    .star-rating, .star-rating span {
        display: inline-block;
        height: 18px;
        overflow:hidden;
        background:url('/img/reviewstar.png')no-repeat;
    }

    .star-rating span {
        background-position: left bottom;
        line-height: 0;
        vertical-align: top;
    }
    .star-rating {
        width: 101px;
    }

</style>
<body>

<div>
    <div class="tab-content">
        <div>
            <div class="tab-content">
                <h1 style="text-align: center; margin-top:70px;">리뷰 확인</h1>
                <form id="review-add-form" action='reviewUpdate' method="post" enctype="multipart/form-data">
                    <div class="container">
                        <table class="table">
                            <tr>
                                <th style="min-width: 80px">
                                    상품 정보
                                </th>
                                <td colspan="4">
                                    <img data-th-src="@{/product/files/{path}(path=${order.product.thumbnail})}"
                                         style="width: 100px; height: 100px;"></td>
                            </tr>
                            <tr>
                                <th>상품 이름</th>
                                <td colspan="5" data-th-text="${order.product.title}">상품 이름</td>
                            </tr>
                            <tr>
                                <th>별점
                                <td><img src="../../img/star.png" width="25px" height="25px" alt=""/>
<!--                                    <td id="starRow" class="reviewLine" data-th-each="orderReview : ${orderReview}">-->
<!--                                            <div class="star-rating">-->
<!--                                                <span data-th-if="${orderReview.score - 5 == 0}" style="width:100%"></span>-->
<!--                                                <span data-th-if="${orderReview.score - 4.5 == 0}" style="width:90%"></span>-->
<!--                                                <span data-th-if="${orderReview.score - 4 == 0}" style="width:80%"></span>-->
<!--                                                <span data-th-if="${orderReview.score - 3.5 == 0}" style="width:70%"></span>-->
<!--                                                <span data-th-if="${orderReview.score - 3 == 0}" style="width:60%"></span>-->
<!--                                                <span data-th-if="${orderReview.score - 2.5 == 0}" style="width:50%"></span>-->
<!--                                                <span data-th-if="${orderReview.score - 2 == 0}" style="width:40%"></span>-->
<!--                                                <span data-th-if="${orderReview.score - 1.5 == 0}" style="width:30%"></span>-->
<!--                                                <span data-th-if="${orderReview.score - 1 == 0}" style="width:20%"></span>-->
<!--                                            </div>-->
                                            <span><p data-th-value="${orderReview.score}" data-th-text="${orderReview.score}">후기 별점</p></span>
                                            <td>작성일</td>
                                            <td><p id="rwCreatedDate" data-th-text="${orderReview.createdDate}">작성일</p></td>
                                        </td>
                                    </td>
                                </th>
                            </tr>
                            <tr>
                                <th>리뷰 제목</th>
                                <td colspan="5"><textarea name="title" style="resize: none;" rows='auto' cols='70'  data-th-text="${orderReview.title}">후기 제목</textarea></td>
                            </tr>
                            <tr>
                                <th>리뷰 내용</th>
                                <td colspan="5"><textarea name="content" style="resize: none;" rows='10' cols='70' data-th-text="${orderReview.content}">후기 제목</textarea></td>
                            </tr>
                            <th data-th-if="${!#lists.isEmpty(orderReview.orderReviewAttachedFiles)}" class="tableStyle">첨부파일</th>
                            <td colspan="5" data-th-if="${!#lists.isEmpty(orderReview.orderReviewAttachedFiles)}" class="tableStyle">
                                <ul>
                                    <li data-th-each="file : ${orderReview.orderReviewAttachedFiles}" style="float:left; margin-right:5%; list-style:none; width:10%">
                                       <a href="files/test.gif"
                                         data-th-href="@{/review/files/{path}(path=${file.filepath})}">
                                         <img data-th-src="@{/review/files/{path}(path=${file.filepath})}" style="width:100%; height:auto;"/>
                                       </a>
                                    </li>
                                </ul>
                            </td>
                        </table>
                            <div style="display: flex; justify-content: center;">
<!--                                <button type='button' class="btn btn-primary btn-sm" id="review-update">수정하기</button>-->
                            </div>
                        <input hidden type="number"
                               data-th-value="${order.no}"
                               name="orderNo" readonly>
                        <input data-th-if="${#lists.isEmpty(orderReview.orderReviewAttachedFiles)}"
                               style="display:none" name="files" type="file" multiple accept="image/*">
                    </div>
                </form>
            </div>
        </div>
<script>
            // $("#review-add").click(function() {
            //     setTimeout(function() {
            //         $('#review-add-form').submit();
            //         opener.location.reload();
            //     }, 100);
            //     // closeAction()
            // });

            $("#review-add").click(function() {
                setTimeout(function() {
                $('#review-add-form').submit()
                opener.location.reload()
                }, 100);
                myModal();
            });

            function myModal() {
                $('#Modal').on('shown.bs.modal', function () {
                    $('#myInput').focus()
                    reviewSaveBtn()
                })
            }

            function reviewSaveBtn() {
                window.confirm("리뷰 등록이 완료되었습니다");
                opener.parent.location.reload();
                window.close();
            }

            //
            // function show() {
            //     document.querySelector(".background").className = "background show";
            // }
            // function close() {
            //     document.querySelector(".background").className = "background";
            // }
            // document.querySelector("#show").addEventListener("click", show);
            // document.querySelector("#close").addEventListener("click", close);

            // myAsync()
            //
            // async function myAsync() {
            //     await delay(2000)
            //     return 'windowCloser()';
            // }
            //
            // function delay(ms) {
            //     return new promise(resolve => setTimeout(resolve, ms))
            // }
            //
            // windowCloser = function() {
            //     window.close();
            // }
            //
            // function closeAction () {
            //     opener.location.reload();
            //     window.close();
            //
            // const resolvedProm = Promise.resolve(33);
            // opener.location.reload();
            // let thenProm = resolvedProm.then(value => {
            //     console.log("이 부분은 호출 스택 이후에 실행됩니다. 전달받은 값이자 반환값은 " + value + "입니다.");
            //     return value;
            // });
            // // thenProm의 값을 즉시 기록
            // console.log(thenProm);
            //
            // // setTimeout으로 함수 실행을 호출 스택이 빌 때까지 미룰 수 있음
            // setTimeout(() => {
            //     console.log(thenProm);
            // });
            //
            //
            // const promise1 = new Promise((resolve, reject) => {
            //     resolve('Success!');
            // });
            //
            // promise1.then((value) => {
            //     console.log(value);
            //     // expected output: "Success!"
            // });
            //
                // $.ajax({
                // type: "POST",
                // url: "/onemoa/mypage/updateStatus",
                // data: {"orderNo": orderNo, "orderStatus": orderStatus},
                // success: function (result) {
                //     $("#update-btn-" + saleNo).closest("tr").find("select").attr("disabled", true);
                //     $("#update-btn-" + saleNo).attr("style", "display:block");
                //     $("#save-btn-" + saleNo).attr("style", "display:none");
                //     }, error:function(){
                //             //에러가 났을 경우 실행시킬 코드
                //         }
                //     });
            // }
            // })
            // });
            // }
            //
            //            // $("#review-add").click(function() {
            //     setTimeout(function() {
            //     $('#review-add-form').submit();
            //         opener.location.reload();
            //     }, 100);

            //
            //
            //
            //     $("#review-add1").click(function() {
            //     setTimeout(function() {
            //     $('#review-add-form1').submit();
            //         window.close();
            //     }, 2000);
            //     opener.parent.location.reload();
            //     });
</script>
<!--$("#review-add").click(setTimeout(function() {-->
<!--$('#review-add-form').submit(); // 자식창에서 submit()-->
<!--opener.location.reload(); // parent window => reload (list 새로고침)-->
<!--window.close(); // child window => close-->
<!--}, 500));-->

<!--$("#review-add1").click(function() {-->
<!--setTimeout(function() {-->
<!--$('#review-add-form1').submit();-->
<!--window.close();-->
<!--}, 1000);-->
<!--opener.parent.location.reload();-->
<!--});-->

<!--     &lt;!&ndash; 방법1 &ndash;&gt;-->
<!--      function close1() {-->
<!--        opener.location.reload();-->
<!--          window.close();-->
<!--       }-->

<!--      &lt;!&ndash; 방법2 &ndash;&gt;-->
<!--        function close2() {-->
<!--             window.opener.document.location.href = window.opener.document.URL;-->
<!--         window.close();-->
<!--        }-->

<!--        &lt;!&ndash; 방법3 &ndash;&gt;-->
<!--      function close3() {-->
<!--            opener.location.replace("페이지~.jsp?deer=" + "deer");-->
<!--            window.close();-->
<!--        }-->

<!--$(opener.document).find("#orderReview-btn-[[${order.no}]]").css("display", "none");&ndash;&gt;&ndash;&gt;-->
<!--$(opener.document).find("#orderReviewWritten-btn-[[${order.no}]]").css("display", "block");&ndash;&gt;&ndash;&gt;-->
<!--$("#orderReviewWritten-btn-[[${order.no}]]", opener.document).css("display", "block");&ndash;&gt;&ndash;&gt;-->
<!--setTimeout(function() {&ndash;&gt;&ndash;&gt;-->
<!--window.close();&ndash;&gt;&ndash;&gt;-->
<!--}, 100);-->
<!--})});-->
</body>
</html>