<!DOCTYPE html>
<html lang="ko">
<head>
        <meta charset = "UTF-8">
        <title>onemoa mypage</title>
        <link href="/onemoa/css/onemoa.css" rel="stylesheet">
        <link href="/onemoa/css/onemoaMypage.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/onemoa/js/onemoa.js"></script>
    </head>
</head>
<style>
    .tableStyle {
        text-align: center;
    }
</style>
<body>
<ul class="myPage">
    <li class="mypageArea">
        <div class="mypageNav">
            <div class="myonemoa">
                <p>관리자페이지</p>
                <span class="mybar">
            </div>
            <ul class="mynav">
                <li><a class="font2" href="/onemoa/admin/member/memberList">회원관리</a></li>
                <li><a class="font2" href="/onemoa/admin/contest/contestList">공모전관리</a></li>
                <li><a class="font2" href="">재능판매관리</a></li>
                <li><a class="font2" href="/onemoa/admin/qna/list">1:1문의관리</a></li>
                <li><a class="font" href="/onemoa/admin/faq/list">FAQ관리</a></li>
                <li><a class="font2" href="">공지사항관리</a></li>
                <li><a class="font2" href="">카테고리관리</a></li>
            </ul>
        </div>
         </li>
            <li class="mypageArea">

<!--         <div>-->
        <div style="max-width: 60%">
            <h1 style="text-align: center;">FAQ관리</h1>
            <div>
<!--                    <table>-->
                    <table class="table">
                        <tr>
                            <th class="tableStyle">번호</th>
                            <th class="tableStyle">제목</th>
                            <th class="tableStyle">유저타입</th>
                        </tr>
                        <tr data-th-each="faq, state : ${faqs}">
                            <td class="tableStyle" style="width: 5vw" data-th-text="${state.count}">100</td>
                            <td class="tableStyle" style="width: 80vw">
                                <a href='detail?no=1'
                                   data-th-href="@{detail(no=${faq.no})}"
                                   data-th-text="${faq.title == ''} ? '(제목없음)' : ${faq.title}">제목</a>
                                </td>
                            <td class="tableStyle" style="width: 10vw" data-th-text="${faq.type}">
                            </td>
                            </tr>
                    </table>
                <p>
                    <button><a href='form'>새 FAQ 등록</a></button>
                </p>
           </div>
         </div>
    </li>
</ul>
</body>
</html>
