.adminpage {
  width: 30%;
  padding: 30px;
  padding-bottom: 50px;
  margin: 15% 32.5%;
  border: 1px solid #999;
}
.adminpage h1 {
  text-align: center;
}
.adminpage .input_admin {
  width: 100%;
  margin-top: 40px;
}
.adminpage input {
  width: 80%;
  height: 40px;
  padding-left: 3%;
  margin-left: 8%;
  margin-bottom: 10px;
}
.adminpage .adminLogin {
  border: none;
  width: 85%;
  height: 45px;
  background-color: #707fc2;
  border-radius: 5px;
  color: #fff;
  margin-left: 7.8%;
}
.adminpage .adminLogin:hover {
  background-color: #474e74;
  transition: all .3s;
}

/*테이블*/
table.type01 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  margin : 20px 10px;
  width: 91%;
}
table.type01 th {
  width: 150px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  vertical-align: top;
  border: 1px solid #ccc;
}
table.type01 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #ccc;
}