<!DOCTYPE html>
<html lang="en">
<head data-th-fragment="fragment-header" class="th-header">
  <title>onemoa v</title>
  <link href="http://localhost:3333/onemoa/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <script src="http://localhost:3333/onemoa/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <link href="http://localhost:3333/onemoa/css/onemoa.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="http://localhost:3333/onemoa/js/login.js"></script>
</head>
<body>
</body>
</html>