<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset = "UTF-8">
    <title>onemoa contestTeam</title>
    <link href="css/onemoa.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./js/onemoa.js"></script>
  </head>
  <body style="overflow-x: hidden;">

    <!-- login modal -->
    <div class="modal"style="position: absolute; z-index: 1;">
      <div class="modal_body">
        <div calss="login_container">
          <button class="closebtn"><img src="./img/x.png"></button>
          <p>로그인</p>
          <form action='login' method="post">
            <table class="input_login" >
              <tr>
                <td><input name='email' type='email' id='email' value="user1@test.com" placeholder="이메일을 입력해 주세요." data-th-value="${email}"></td>
              </tr>
              <tr>
                <td><input name='password' type='password' id='password' placeholder="패스워드를 입력해 주세요."></td>
              </tr>
            </table>
            <label for="label-a"><input type="checkbox" name="saveEmail" id="email2">이메일 유지<br></label>
            <p class="find"><a href = "#">아이디 찾기</a> / <a href = "#">패스워드 찾기</a></p>
            <p>
              <button type='submit' class="loginbtn" id="adminCheck"><img src="img/loginbtn.png"></button>
            </p>
          </form>
          <div class="sns">
            <p class="snsp">SNS로 간편하게 로그인하세요.</p>
            <a href="#"><img src="./img/kakao.png"></a>
            <a href="#"><img src="./img/naver.png"></a>
            <a href="#"><img src="./img/google.png"></a>
          </div>
          <div class="sign">
            <a href="joinForm"><img src="./img/signup.png"></a>
          </div>
        </div>
      </div>
    </div>
    
    <header>
      <div class="nav">
        <a href="/onemoa"><p class="logo">ONEMOA</p></a>
        <ul class="firstnav">
          <li data-th-if="${session.loginMember != null}"><a href="logout" data-th-text="로그아웃">로그아웃</a></li>
          <li><button class="btn-open-popup" data-th-if="${session.loginMember == null}">로그인</button></li>
          <li><a href="#">마이페이지</a></li>
          <li><a href="#">메시지</a></li>
        </ul>
      </div>

      <div class="menu">
        <ul class="secnav">
          <li><a href="contestTeam"><p>공모전</p></a></li>
          <li><a href="#"><p>재능판매</p></a></li>
        </ul>
      </div>
    </header>

    <div class="contest">
      <div class="contestbg">
        <img src="./img/contestbg.png">
      </div>

      <div class="contestctg">
        <ul class="conctg">
          <li><a href="#">개인전</a></li>
          <li><a href="#">팀전</a></li>
        </ul>
        <ul class="contype">
          <li><a href="#">전체</a></li>
          <li><a href="#">대기업</a></li>
          <li><a href="#">공공기관</a></li>
          <li><a href="#">자영업자</a></li>
        </ul>
        <ul class="contype2">
          <li><a href="#">상금 순</a></li>
          <li><a href="#">조회 순</a></li>
          <li><a href="#">마감임박 순</a></li>
          <li><a href="#">최신등록 순</a></li>
        </ul>
      </div>

      <div class="contestContents">
        <div class="contestBox">

          <!-- contestDetail modal2 -->
          <div class="modal2" style="position: absolute; z-index: 1;">
            <button class="closebtn2" onclick="clo()"><img style="position: fixed;" src="./img/x.png"></button>
            <div class="modal_body2">

              <div class="contestDetail">
                <p>공모전 상세정보</p>
                <ul class="detail">
                  <li>
                    <div class="detailimg">
                      <img src="./img/conD.png">
                    </div>
                  </li>
                  <li>
                    <table class="contable">
                      <tr>
                        <td>주최</td>
                        <td>해외자원개발진흥재단</td>
                      </tr>
                      <tr>
                        <td>주관</td>
                        <td>해외자원개발진흥재단</td>
                      </tr>
                      <tr>
                        <td>공모전분야</td>
                        <td>디자인</td>
                      </tr>
                      <tr>
                        <td>접수방법</td>
                        <td>이메일</td>
                      </tr>
                      <tr>
                        <td>참가자격</td>
                        <td>대학생 | 일반인 | 초등학생 | 중학생 | 고등학생</td>
                      </tr>
                      <tr>
                        <td>접수기간</td>
                        <td>2022-08-01 ~ 2022-12-25</td>
                        </tr>
                      <tr>
                        <td>상금</td>
                        <td>200만원</td>
                      </tr>
                      <tr>
                        <td>홈페이지</td>
                        <td>해외자원개발진흥재단</td>
                      </tr>
                      <tr>
                        <td>[첨부파일]</td>
                        <td>
                          <span>[첨부파일]</span>
                          <span>제8회 해외자원개발 바로알기 공모전 참가 신청서</span>
                          <span>및 개인정보 이용 동의서.hwp</span>
                        </td>
                      </tr>
                    </table>
                  </li>
                </ul>
              </div>

              <div class="contestdtype">
                <p onclick="team()"><a href="#">상세정보</a></p>
                <p onclick="team()"><a href="#">팀원구해요</a></p>
                <span></span>
              </div>

              <!-- 상세정보 -->
              <div class="contestIn">
                <div class="basicInformation">
                  <img src="./img/condico.png">
                  <p>공모전 상세정보</p>
                </div>

                <table class="contestInformation">
                  <tr>
                    <td><span>></span>공모전명</td>
                    <td>디자인 콘테스트</td>
                  </tr>
                  <tr>
                    <td><span>></span>주최명</td>
                    <td>해외자원개발진흥재단</td>
                  </tr>
                  <tr>
                    <td><span>></span>공모전 설명</td>
                    <td>저희 회사는 한국 식품을 해외로 수출하고 있는 수출전문업체입니다. 본 라면의 주 타겟층은 한국 식품을 좋아하고 한국 라면을 좋아하는 해외 일반 20,30대입니다. 지금까지 많은 제품들을 디자인 업체를 통해서 해왔지만 항상 먼가가 아쉬웠기에 원모아를 통해서 디자인 공모전을 해보고자 합니다. 정말 정말 많은 분들의 참여를 바랍니다.</td>
                  </tr>
                </table>

                <div class="longcontext">
                  <p><img src="./img/o.png">접수방법</p>
                  <p>
                    - 재단 홈페이지(www.onemoa.or.kr)의 공지사항에서 참가신청서 양식 다운로드, 작성 후 작품 파일(대용량 첨부)과 함께 사무국 메일(onemoa@test.or.kr)로 제출
                    <span>⨳ 접수 확인 후 접수 확인 메일 발송 예정</span>
                  </p>
                </div>

                <div class="longcontext2">
                  <p><img src="./img/o.png">유의사항 (기타사항)</p>
                  <p>- 응모자는 본인의 이름(실명)으로 응모해야 하며, 팀의 경우 대표자와 팀원 전체의 인적사항을 기재해야 합니다.</p>
                  <p>- 공모 요강에 준하지 않는 작품은 심사 대상에서 제외될 수 있습니다.</p>
                  <p>- 동일인(팀)에 대한 중복시상은 하지 않습니다.</p>
                  <p>- 출품작은 미발표된 순수 창작물이어야 하며, 타인의 작품을 표절, 도용, 모방하면 수상을 취소할 수 있습니다.</p>
                  <p>- 모든 출품작에 대한 저작권은 출품자에게 있습니다.</p>
                  <p>- 상금에 대한 제세공과금은 수상자가 부담합니다.</p>
                  <p>- 기타 요강에 명시되지 않은 내용은 주최 측 정책에 따릅니다.</p> 
                </div>
              </div>


              <!-- 팀원구해요 -->
              <div class="person" style="display: none;">
                <p>안녕하세요, <span>잘 부탁드립니다!</span></p>
                <ul class="teamJang">
                  <li>
                    <p onclick="dis4()"><img src="./img/profile1.png" onmouseover="this.src='./img/profile11.png'" onmouseout="this.src='./img/profile1.png'"></p>
                    <p>닉네임</p>
                  </li>
                  <li>
                    <p onclick="dis4()"><img src="./img/profile2.png" onmouseover="this.src='./img/profile11.png'" onmouseout="this.src='./img/profile2.png'"></p>
                    <p>닉네임</p>
                  </li>
                  <li>
                    <p onclick="dis4()"><img src="./img/profile3.png" onmouseover="this.src='./img/profile11.png'" onmouseout="this.src='./img/profile3.png'"></p>
                    <p>닉네임</p>
                  </li>
                  <li>
                    <p onclick="dis4()"><img src="./img/profile4.png" onmouseover="this.src='./img/profile11.png'" onmouseout="this.src='./img/profile4.png'"></p>
                    <p>닉네임</p>
                  </li>
                  <li>
                    <p onclick="dis4()"><img src="./img/profile1.png" onmouseover="this.src='./img/profile11.png'" onmouseout="this.src='./img/profile1.png'"></p>
                    <p>닉네임</p>
                  </li>
                  <li>
                    <p onclick="dis4()"><img src="./img/profile2.png" onmouseover="this.src='./img/profile11.png'" onmouseout="this.src='./img/profile2.png'"></p>
                    <p>닉네임</p>
                  </li>
                  <li>
                    <p onclick="dis4()"><img src="./img/profile3.png" onmouseover="this.src='./img/profile11.png'" onmouseout="this.src='./img/profile3.png'"></p>
                    <p>닉네임</p>
                  </li>
                  <li>
                    <p onclick="dis4()"><img src="./img/profile4.png" onmouseover="this.src='./img/profile11.png'" onmouseout="this.src='./img/profile4.png'"></p>
                    <p>닉네임</p>
                  </li>
                  <li>
                    <p onclick="dis4()"><img src="./img/profile1.png" onmouseover="this.src='./img/profile11.png'" onmouseout="this.src='./img/profile1.png'"></p>
                    <p>닉네임</p>
                  </li>
                  <li>
                    <p onclick="dis4()"><img src="./img/profile2.png" onmouseover="this.src='./img/profile11.png'" onmouseout="this.src='./img/profile2.png'"></p>
                    <p>닉네임</p>
                  </li>
                </ul>
                
                <div class="insert">
                  <p>나를 등록하고, <span>나에게 필요한 팀원을 구해보세요.</span></p>
                  <div class="insertbtn">
                    <p onclick="dis2()">팀원 모집하기</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!--modal2-->

          <!-- modal3 팀원모집 -->
          <div class="modal3" style="position: absolute; z-index: 1;">
            <button class="closebtn3" onclick="clo2()"><img src="./img/x.png"></button>
            <div class="modal_body3">

              <div class="teamJangD">
                <p class="pp">팀원 모집하기</p>
                <ul class="tjd">
                  <li>
                    <div class="tjdimg">
                      <img src="./img/profile1.png">
                    </div>
                    <p>닉네임</p>
                  </li>
                  <li>
                    <textarea cols="70" rows="50" class="tjdtxt" placeholder="나를 소개하는 글을 입력해주세요."></textarea>
                  </li>
                </ul>
              </div>

              <div class="portfolio">
                <p>포트폴리오
                  <button name="addStaff"><img src="./img/plus.png"></button>
                </p>
                <div name="hhhhhh">
                  <form name="hhhhhh">
                    <select name="port" class="po">
                      <option value="포트폴리오를 선택해주세요." selected>포트폴리오를 선택해주세요.</option>
                      <option value="포트폴리오1">포트폴리오1</option>
                      <option value="포트폴리오2">포트폴리오2</option>
                      <option value="포트폴리오3">포트폴리오3</option>
                    </select>
                  </form>
                </div>
              </div>

              <div class="recruitment">
                <p>모집분야와 인원을 선택해주세요.
                  <button name="addStaff2"><img src="./img/plus.png"></button>
                </p>
                <div name = "rrr" class="recruit">
                  <form name="rrr">
                    <select name="recru" class="re">
                      <option value="모집분야를 선택해주세요." selected>모집분야를 선택해주세요.</option>
                      <option value="촐영">촐영</option>
                      <option value="편집">편집</option>
                      <option value="음향">음향</option>
                    </select>
                    <select name="personnel" class="re2">
                      <option value="인원" selected>인원</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                    </select>
                  </form>
                </div>
                <div class="teammate">
                  <button class="tm" onclick="dis3()">팀원 모집하기</button>
                  <button class="tm" onclick="clo2()">뒤로가기</button>
                </div>
              </div>
                

            </div>
          </div><!--modal3-->

          <!--modal4 팀원모집확인-->
          <div class="modal4" style="position: absolute; z-index: 1;">
            <div class="modal_body4">
              <button class="closebtn4" onclick="clo3()"><img src="./img/x.png"></button>
              <p>팀원을 모집하시겠습니까?</p>
              <div class="teamb">
                <span><button onclick="dis()">확인</button></span>
                <span><button onclick="clo3()">취소</button></span>
              </div>
            </div>
          </div><!--modal4-->

          <!-- modal5 팀장상세보기 -->
          <div class="modal5" style="position: absolute; z-index: 1;">
            <button class="closebtn5" onclick="clo4()"><img src="./img/x.png"></button>
            <div class="modal_body5">

              <div class="teamJangD2">
                <p class="pp2">닉네임님 상세정보</p>
                <ul class="tjd2">
                  <li>
                    <div class="tjdimg2">
                      <img src="./img/profile1.png">
                    </div>
                    <p>닉네임</p>
                  </li>
                  <li>
                    <p>[나를 소개하는 글]
                      안녕하세요!
                      저는 편집을 많이 해봤고 수상경험도 있습니다!
                      제가 촬영이 부족하여 촬영을 잘 해주시는 분을 구하고
                      있습니다!
                      열정 가득한 분을 구하고 있고 되도록이면 서울쪽에서 모일 수 있는 분이셨으면
                      좋겠습니다. 
                      많은 관심 부탁드리고 궁금하신 점이 있으시다면
                      아래 댓글 달아주세요!
                      </p>
                  </li>
                </ul>
              </div>

              <div class="portfolio2">
                <p>포트폴리오</p>
                <ul>
                  <li><a href="https://onemoa/portfolio1">- https://onemoa/portfolio1</a></li>
                  <li><a href="https://onemoa/portfolio2">- https://onemoa/portfolio2</a></li>
                  <li><a href="https://onemoa/portfolio3">- https://onemoa/portfolio3</a></li>
                </ul>
              </div>

              <div class="portfolio2">
                <p>팀원구해요</p>
                <ul>
                  <li>모집인원 5명 (촬영 3 / 편집 2 / 음향 1)</li>
                  <li><span>모집중&nbsp;&nbsp;&nbsp;</span> 촬영 <span>2</span> / 편집 <span>2</span> / 음향 <span>0</span></li>
                  <button class="tmm" onclick="dis5()">팀원 지원하기</button>
                </ul>
              </div> 

              <div class="portfolio2">
                <ul>
                  <li><img src="./img/profile1.png"></li>
                  <li>
                    <p>촬영 지원합니다!</p>
                    <p><span onclick="dis5()">수정</span><span>삭제</span></p>
                  </li>
                  <li><p onclick="dis7()">지원자 보기</p></li>
                </ul>
                <ul>
                  <li><img src="./img/profile2.png"></li>
                  <li>
                    <p>편집 지원합니다!</p>
                    <p><span onclick="dis5()">수정</span><span>삭제</span></p>
                  </li>
                  <li><p onclick="dis7()">지원자 보기</p></li>
                </ul>
                <ul>
                  <li><img src="./img/profile3.png"></li>
                  <li>
                    <p>음향 지원합니다!</p>
                    <p><span onclick="dis5()">수정</span><span>삭제</span></p>
                  </li>
                  <li><p onclick="dis7()">지원자 보기</p></li>
                </ul>
                <ul>
                  <li><img src="./img/profile4.png"></li>
                  <li>
                    <p>편집 지원합니다!</p>
                    <p><span onclick="dis5()">수정</span><span>삭제</span></p>
                  </li>
                  <li><p onclick="dis7()">지원자 보기</p></li>
                </ul>
              </div> 
              
            </div>
          </div><!--modal5-->

          <!-- modal6 팀원지원하기 -->
          <div class="modal6" style="position: absolute; z-index: 1;">
            <button class="closebtn6" onclick="clo5()"><img src="./img/x.png"></button>
            <div class="modal_body6">

              <div class="teamOne">
                <p class="pp">팀원 지원하기</p>
                <ul class="tjd">
                  <li>
                    <div class="tjdimg">
                      <img src="./img/profile1.png">
                    </div>
                    <p>닉네임</p>
                  </li>
                  <li>
                    <textarea cols="70" rows="50" class="tjdtxt" placeholder="나를 소개하는 글을 입력해주세요."></textarea>
                  </li>
                </ul>
              </div>

              <div class="portfolio">
                <p>포트폴리오
                  <button name="addStaff3"><img src="./img/plus.png"></button>
                </p>
                <div name="hhhhhh2">
                  <form name="hhhhhh2">
                    <select name="port2" class="po2">
                      <option value="포트폴리오를 선택해주세요." selected>포트폴리오를 선택해주세요.</option>
                      <option value="포트폴리오1">포트폴리오1</option>
                      <option value="포트폴리오2">포트폴리오2</option>
                      <option value="포트폴리오3">포트폴리오3</option>
                    </select>
                  </form>
                </div>
              </div>

              <div class="recruitment">
                <p>지원분야를 선택해주세요.</p>
                <p><input type="checkbox" value="촬영"> 촬영</p>
                <p><input type="checkbox" value="편집"> 편집</p>
                <p><input type="checkbox" value="음향"> 음향</p>
              </div>
                
              <div class="teammate">
                <button class="tm" onclick="dis6()">팀원 지원하기</button>
                <button class="tm" onclick="clo5()">뒤로가기</button>
              </div>

            </div>
          </div><!--modal6-->

          <!--modal7 팀원지원하기확인-->
          <div class="modal7" style="position: absolute; z-index: 1;">
            <div class="modal_body7">
              <button class="closebtn7" onclick="clo5()"><img src="./img/x.png"></button>
              <p>팀원으로 지원을하시겠습니까?</p>
              <div class="teamb7">
                <span><button onclick="dis5()">확인</button></span>
                <span><button onclick="clo6()">취소</button></span>
              </div>
            </div>
          </div><!--modal7-->


          <!-- modal8 팀원상세보기 -->
          <div class="modal8" style="position: absolute; z-index: 1;">
            <button class="closebtn8" onclick="clo7()"><img src="./img/x.png"></button>
            <div class="modal_body8">

              <div class="teamJangD8">
                <p class="pp8">편집을 지원한 닉네임님 상세정보</p>
                <ul class="tjd8">
                  <li>
                    <div class="tjdimg8">
                      <img src="./img/profile1.png">
                    </div>
                    <p>닉네임</p>
                  </li>
                  <li>
                    <p>
                      [나를 소개하는 글]
                      안녕하세요!
                      저는 서울에 살고있고 편집 일을 시작한지 3년된 28살 프리랜서입니다!
                      저도 그 공모전에 같이 참여하고 싶은데
                      제 포트폴리오 보시고 연락주시면 감사하겠습니다 :)
                    </p>
                  </li>
                </ul>
              </div>

              <div class="portfolio2">
                <p>포트폴리오</p>
                <ul>
                  <li><a href="https://onemoa/portfolio1">- https://onemoa/portfolio1</a></li>
                  <li><a href="https://onemoa/portfolio2">- https://onemoa/portfolio2</a></li>
                  <li><a href="https://onemoa/portfolio3">- https://onemoa/portfolio3</a></li>
                </ul>
              </div>

              <div class="teammate8">
                <button class="tm8" onclick="dis8()">팀원 채택하기</button>
                <button class="tm8" onclick="clo7()">뒤로가기</button>
              </div>
              
            </div>
          </div><!--modal8-->

          <!--modal9 팀원채택하기확인-->
          <div class="modal9" style="position: absolute; z-index: 1;">
            <div class="modal_body9">
              <button class="closebtn9" onclick="clo8()"><img src="./img/x.png"></button>
              <p>팀원으로 지원을하시겠습니까?</p>
              <div class="teamb9">
                <span><button onclick="dis8()">확인</button></span>
                <span><button onclick="clo8()">취소</button></span>
              </div>
            </div>
          </div><!--modal9-->


          <a href="#"><ul class="con" onclick="dis()">
            <li>
              <div class="conimg">
                <img src="./img/contestimg.png">
              </div>
            </li>
            <li>
              <div class="contestName">
                <p>로고디자인</p>
                <p>|</p>
                <p>치킨브랜드에 어울리는 브랜드명</p>
                <div class="contesttext">
                  <p>전문가님의 산뜻한 치킨브랜드 네이밍 부탁드립니다. 이름을 들었을 때 무언가 맛있는 느낌이 와도 좋지만 동떨어진 이름이지만<span>
                    기억하기 쉽고 어감이 좋으면 괜찮습니다. 바른 기본 올바른 전통 등등 이런 느낌이 연상되는 캐릭터명 같은 것도 괜찮습니다.</span>
                    <span>중요한 것은 상표등록이 가능해야합니다.</span>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="contestD">
                <p>총상금<span>200만원</span></p>
                <p>남은기간<span>14일</span></p>
                <p>조회수<span>303회</span></p>
              </div>
            </li>
          </ul></a>

          <a href="#"><ul class="con" onclick="dis()">
            <li>
              <div class="conimg">
                <img src="./img/contestimg.png">
              </div>
            </li>
            <li>
              <div class="contestName">
                <p>로고디자인</p>
                <p>|</p>
                <p>치킨브랜드에 어울리는 브랜드명</p>
                <div class="contesttext">
                  <p>전문가님의 산뜻한 치킨브랜드 네이밍 부탁드립니다. 이름을 들었을 때 무언가 맛있는 느낌이 와도 좋지만 동떨어진 이름이지만<span>
                    기억하기 쉽고 어감이 좋으면 괜찮습니다. 바른 기본 올바른 전통 등등 이런 느낌이 연상되는 캐릭터명 같은 것도 괜찮습니다.</span>
                    <span>중요한 것은 상표등록이 가능해야합니다.</span>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="contestD">
                <p>총상금<span>200만원</span></p>
                <p>남은기간<span>14일</span></p>
                <p>조회수<span>303회</span></p>
              </div>
            </li>
          </ul></a>
         
          <a href="#"><ul class="con" onclick="dis()">
            <li>
              <div class="conimg">
                <img src="./img/contestimg.png">
              </div>
            </li>
            <li>
              <div class="contestName">
                <p>로고디자인</p>
                <p>|</p>
                <p>치킨브랜드에 어울리는 브랜드명</p>
                <div class="contesttext">
                  <p>전문가님의 산뜻한 치킨브랜드 네이밍 부탁드립니다. 이름을 들었을 때 무언가 맛있는 느낌이 와도 좋지만 동떨어진 이름이지만<span>
                    기억하기 쉽고 어감이 좋으면 괜찮습니다. 바른 기본 올바른 전통 등등 이런 느낌이 연상되는 캐릭터명 같은 것도 괜찮습니다.</span>
                    <span>중요한 것은 상표등록이 가능해야합니다.</span>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="contestD">
                <p>총상금<span>200만원</span></p>
                <p>남은기간<span>14일</span></p>
                <p>조회수<span>303회</span></p>
              </div>
            </li>
          </ul></a>

          <a href="#"><ul class="con" onclick="dis()">
            <li>
              <div class="conimg">
                <img src="./img/contestimg.png">
              </div>
            </li>
            <li>
              <div class="contestName">
                <p>로고디자인</p>
                <p>|</p>
                <p>치킨브랜드에 어울리는 브랜드명</p>
                <div class="contesttext">
                  <p>전문가님의 산뜻한 치킨브랜드 네이밍 부탁드립니다. 이름을 들었을 때 무언가 맛있는 느낌이 와도 좋지만 동떨어진 이름이지만<span>
                    기억하기 쉽고 어감이 좋으면 괜찮습니다. 바른 기본 올바른 전통 등등 이런 느낌이 연상되는 캐릭터명 같은 것도 괜찮습니다.</span>
                    <span>중요한 것은 상표등록이 가능해야합니다.</span>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="contestD">
                <p>총상금<span>200만원</span></p>
                <p>남은기간<span>14일</span></p>
                <p>조회수<span>303회</span></p>
              </div>
            </li>
          </ul></a>

          <a href="#"><ul class="con" onclick="dis()">
            <li>
              <div class="conimg">
                <img src="./img/contestimg.png">
              </div>
            </li>
            <li>
              <div class="contestName">
                <p>로고디자인</p>
                <p>|</p>
                <p>치킨브랜드에 어울리는 브랜드명</p>
                <div class="contesttext">
                  <p>전문가님의 산뜻한 치킨브랜드 네이밍 부탁드립니다. 이름을 들었을 때 무언가 맛있는 느낌이 와도 좋지만 동떨어진 이름이지만<span>
                    기억하기 쉽고 어감이 좋으면 괜찮습니다. 바른 기본 올바른 전통 등등 이런 느낌이 연상되는 캐릭터명 같은 것도 괜찮습니다.</span>
                    <span>중요한 것은 상표등록이 가능해야합니다.</span>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="contestD">
                <p>총상금<span>200만원</span></p>
                <p>남은기간<span>14일</span></p>
                <p>조회수<span>303회</span></p>
              </div>
            </li>
          </ul></a>
        </div> <!--contestBox-->
      </div>

      <div class="nextBox">
        <p>
          <span><a href="#">1</a></span>
          <span><a href="#">2</a></span>
          <span><a href="#">3</a></span>
        </p>
      </div>
    </div> <!-- contest -->

    <footer>
      <ul class="footerMenu">
        <li><a href="#"><p>공지사항</p></a></li>
        <li><a href="#"><p>1 : 1 문의</p></a></li>
      </ul>
      <div class="detail">
        
          (주)ONEMOA  | 서울시 강남구 비트캠프 8층 | 대표 : 000 | 개인정보관리책임자 : 000 | 고객센터 : 1234-1234
          <span>고객센터 영업시간 10:30 ~ 18:00 ( 점심시간 13:00 ~ 14:00) 주말, 공휴일 휴무 | ONEMOA@onemoa.com | </span>
          <span>Copyright 2022 ONEMOA lnc.All rights reserved</span>
       
      </div>
    </footer>

    <script>

    const body = document.querySelector('body');
    const modal = document.querySelector('.modal');
    const btnOpenPopup = document.querySelector('.btn-open-popup');
    const closebtn = document.querySelector('.closebtn');

    btnOpenPopup.addEventListener('click', () => {
      modal.style.display = 'block';

      if (modal.classList.contains('show')) {
        body.style.overflow = 'hide';
      }
      body.style.overflow = 'hidden';

    });

    closebtn.addEventListener('click', () => {
      modal.style.display = 'none';
      body.style.overflow = 'auto';

    });

    function dis(){
      if ($('.modal2').css('display') == 'none'){
        $('.modal2').show();
        $('.modal3').hide();
        $('.modal4').hide();
        body.style.overflow = 'hidden';
      } else{
        $('.modal2').hide();
        body.style.overflow = 'auto';
      }
    }
    function clo(){
      if ($('.modal2').css('display') == 'show'){
        $('.modal2').hide();

      } else{
        $('.modal2').hide();
        body.style.overflow = 'auto';
      }
    }

    // 포폴 추가 버튼
    $(document).on("click","button[name=addStaff]",function(){
      
      var addStaffText = 
      '<div name="hhhhhh" class="hhhhhh">'+
        '<select name="port" class="po">'+
          '<option value="포트폴리오를 선택해주세요.">포트폴리오를 선택해주세요.</option>'+
          '<option value="포트폴리오1">포트폴리오1</option>'+
          '<option value="포트폴리오2">포트폴리오2</option>'+
          '<option value="포트폴리오3">포트폴리오3</option>'+
        '</select>'+
        '<button name="minus" class="mi"><img src="./img/minus.png"></button>'+
      '</div>';

      var trHtml = $( "div[name=hhhhhh]:last" ); //last를 사용하여 trStaff라는 명을 가진 마지막 태그 호출
      
      trHtml.after(addStaffText); //마지막 trStaff명 뒤에 붙인다.
      
    });

    // 모집분야 추가 버튼
    $(document).on("click","button[name=addStaff2]",function(){
      
      var addStaffText = 
        '<div name="rrr" class="recruit">'+
          '<select name="recru" class="re">'+
            '<option value="모집분야" selected>모집분야를 선택해주세요.</option>'+
            '<option value="촐영">촐영</option>'+
            '<option value="편집">편집</option>'+
            '<option value="음향">음향</option>'+
          '</select>'+
          '<select name="personnel" class="re2">'+
            '<option value="인원" selected>인원</option>'+
            '<option value="1">1</option>'+
            '<option value="2">2</option>'+
            '<option value="3">3</option>'+
            '<option value="4">4</option>'+
            '<option value="5">5</option>'+
            '<option value="6">6</option>'+
          '</select>'+
          '<button name="minus" class="mi2"><img src="./img/minus.png"></button>'+
        '</div>';

      var trHtml = $( "div[name=rrr]:last" ); //last를 사용하여 trStaff라는 명을 가진 마지막 태그 호출
      
      trHtml.after(addStaffText); //마지막 trStaff명 뒤에 붙인다.
      
    });

    // 포폴 삭제 버튼
    $(document).on("click","button[name=minus]",function(){
      var trHtml = $(this).parent();
      trHtml.remove(); //tr 테그 삭제
    });


    // 팀원구해요
    function team(){
    if ($('.person').css('display') == 'none'){
      $('.person').show();
      $('.contestIn').hide();
      $('.contestdtype p').eq(1).css('color', '#000');
      $('.contestdtype p').eq(1).css('border-bottom', '3px solid #000');
      $('.contestdtype p').eq(1).css('padding-bottom', '7px');
      $('.contestdtype p').eq(0).css('color', '#a5a5a5');
      $('.contestdtype p').eq(0).css('border-bottom', 'none');
    } else{
      $('.person').hide();
      $('.contestIn').show();
      $('.contestdtype p').eq(0).css('color', '#000');
      $('.contestdtype p').eq(0).css('border-bottom', '3px solid #000');
      $('.contestdtype p').eq(0).css('padding-bottom', '7px');
      $('.contestdtype p').eq(1).css('color', '#a5a5a5');
      $('.contestdtype p').eq(1).css('border-bottom', 'none');
    }
    }

    // 팀원지원 포폴 추가 버튼
    $(document).on("click","button[name=addStaff3]",function(){
      
      var addStaffText2 = 
      '<div name="hhhhhh2" class="hhhhhh2">'+
        '<select name="port2" class="po2">'+
          '<option value="포트폴리오를 선택해주세요.">포트폴리오를 선택해주세요.</option>'+
          '<option value="포트폴리오1">포트폴리오1</option>'+
          '<option value="포트폴리오2">포트폴리오2</option>'+
          '<option value="포트폴리오3">포트폴리오3</option>'+
        '</select>'+
        '<button name="minus2" class="mi2"><img src="./img/minus.png"></button>'+
      '</div>';

      var trHtml2 = $( "div[name=hhhhhh2]:last" ); //last를 사용하여 trStaff라는 명을 가진 마지막 태그 호출
      
      trHtml2.after(addStaffText2); //마지막 trStaff명 뒤에 붙인다.
      
    });

    // 팀원지원 포폴 삭제 버튼
    $(document).on("click","button[name=minus2]",function(){
      var trHtml2 = $(this).parent();
      trHtml2.remove(); //tr 테그 삭제
    });

    </script>
  </body>
</html>
