<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>원모아 계정 인증</title>
</head>
<body>
<div class="flex-container" sytle="justify-content: center;">
  <div class="container" style="width: 50%; margin: auto">
    <div
        class="container-item01"
        style="
            background-color: #707fc2;
            color: #fff;
            height: 80px;
            font-size: 40px;
            font-weight: bold;
            position: relative;
            text-align: center;
          "
    >
      <p style="transform: translate(0%, 30%)">원모아 계정 인증</p>
    </div>
    <div class="container-item02">
      <p style="font-size: 25px">
        <b>원모아계정 가입을 위한 인증번호입니다.</b>
      </p>
      <p>아래 인증번호를 확인하여 이메일 주소 인증을 완료해 주세요.</p>
    </div>
    <div class="container-item03">
      <hr />
      <table style="width: 400px">
        <tr>
          <td>원모아 계정</td>
          <td data-th-text="${email}">onemoa_admin@onemoa.com</td>
        </tr>
        <tr>
          <td>인증번호</td>
          <td>
                <span
                    style="color: blue; font-weight: bold"
                    data-th-text="${checkNum}"
                >123456</span
                >
          </td>
        </tr>
      </table>
      <hr />
    </div>
    <div class="container-item04" style="margin-top: 5%">
      <p>본메일은 발신전용입니다.</p>
      <p>
        원모아계정 관련하여 궁금한 점이 있으시면 도움말을 확인해 보세요.
      </p>
      <p>Copyright@Onemoa Corp. All rights reserved.</p>
    </div>
  </div>
</div>
</body>
</html>
