<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>onemoa v</title>
  <link href="http://localhost:3333/onemoa/css/onemoa.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="http://localhost:3333/onemoa/js/login.js"></script>
</head>
<body style="overflow-x: hidden">
<div data-th-replace="/fragments/nav.html :: fragment-nav"></div>

<h1>Index Page</h1>

<footer data-th-replace="/fragments/footer.html :: fragment-footer"></footer>
</body>
</html>