<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>onemoa v</title>
  <link href="/onemoa/css/onemoa.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="/onemoa/js/login.js"></script>
</head>
<body style="overflow-x: hidden">
  <div data-th-replace="/fragments/nav.html :: fragment-nav"></div>

  <div class="slidebox2">
    <input type="radio" name="slideb" id="slide1" checked>
    <input type="radio" name="slideb" id="slide2">
    <input type="radio" name="slideb" id="slide3">
    <input type="radio" name="slideb" id="slide4">
    <ul class="slidelist">
      <li class="slideitem">
        <div>
          <label for="slide4" class="left"></label>
          <label for="slide2" class="right"></label>
          <a><img src="./img/mainb.png"></a>
        </div>
      </li>
      <li class="slideitem">
        <div>
          <label for="slide1" class="left"></label>
          <label for="slide3" class="right"></label>
          <a><img src="./img/mainb2.png"></a>
        </div>
      </li>
      <li class="slideitem">
        <div>
          <label for="slide2" class="left"></label>
          <label for="slide4" class="right"></label>
          <a><img src="./img/mainb3.png"></a>
        </div>
      </li>
      <li class="slideitem">
        <div>
          <label for="slide3" class="left"></label>
          <label for="slide1" class="right"></label>
          <a><img src="./img/mainb4.png"></a>
        </div>
      </li>
    </ul>
  </div>

  <div class="mainContents">

    <div class="mainCategory">
      <p>관심카테고리</p>
      <ul class="mctg">
        <li><a href="#"><img src="./img/mainctg1.png"></a></li>
        <li><a href="#"><img src="./img/mainctg2.png"></a></li>
        <li><a href="#"><img src="./img/mainctg3.png"></a></li>
        <li><a href="#"><img src="./img/mainctg4.png"></a></li>
        <li><a href="#"><img src="./img/mainctg5.png"></a></li>
      </ul>
    </div>

    <div class="mainContest">
      <p>인기 공모전</p>
      <ul class="mcon">
        <li><a href="#"><img src="./img/mainc1.png" onmouseover="this.src='./img/mainc11.png'" onmouseout="this.src='./img/mainc1.png'"></a></li>
        <li><a href="#"><img src="./img/mainc2.png" onmouseover="this.src='./img/mainc22.png'" onmouseout="this.src='./img/mainc2.png'"></a></li>
        <li><a href="#"><img src="./img/mainc3.png" onmouseover="this.src='./img/mainc33.png'" onmouseout="this.src='./img/mainc3.png'"></a></li>
        <li><a href="#"><img src="./img/mainc4.png" onmouseover="this.src='./img/mainc44.png'" onmouseout="this.src='./img/mainc4.png'"></a></li>
      </ul>
    </div>

    <div class="slidebox">
      <input type="radio" name="slide" id="slide01" checked>
      <input type="radio" name="slide" id="slide02">
      <input type="radio" name="slide" id="slide03">
      <input type="radio" name="slide" id="slide04">
      <ul class="slidelist">
        <li class="slideitem">
          <a href="#"><img src="./img/maincon.png"></a>
          <a href="#"><img src="./img/maincon.png"></a>
          <a href="#"><img src="./img/maincon.png"></a>
          <a href="#"><img src="./img/maincon.png"></a>
        </li>
        <li class="slideitem">
          <a href="#"><img src="./img/maincon.png"></a>
          <a href="#"><img src="./img/maincon.png"></a>
          <a href="#"><img src="./img/maincon.png"></a>
          <a href="#"><img src="./img/maincon.png"></a>
        </li>
        <li class="slideitem">
          <a href="#"><img src="./img/maincon.png"></a>
          <a href="#"><img src="./img/maincon.png"></a>
          <a href="#"><img src="./img/maincon.png"></a>
          <a href="#"><img src="./img/maincon.png"></a>
        </li>
        <li class="slideitem">
          <a href="#"><img src="./img/maincon.png"></a>
          <a href="#"><img src="./img/maincon.png"></a>
          <a href="#"><img src="./img/maincon.png"></a>
          <a href="#"><img src="./img/maincon.png"></a>
        </li>

      </ul>
      <div class="slide-control">
        <div class="control01">
          <label for="slide04" class="prev"></label>
          <label for="slide02" class="next"></label>
        </div>
        <div class="control02">
          <label for="slide01" class="prev"></label>
          <label for="slide03" class="next"></label>
        </div>
        <div class="control03">
          <label for="slide02" class="prev"></label>
          <label for="slide04" class="next"></label>
        </div>
        <div class="control04">
          <label for="slide03" class="prev"></label>
          <label for="slide01" class="next"></label>
        </div>
      </div>
    </div>

    <div class="mainReview">
      <p>ONEMOA 에서 거래한 다른 사람들의 <span>다양한 리얼 후기를 만나보세요. </span></p>
      <div class="gallery">
        <ul class="clearfix">
          <li><img src="./img/mainre.png"></li>
          <li><img src="./img/mainre.png"></li>
          <li><img src="./img/mainre.png"></li>
          <li><img src="./img/mainre.png"></li>
          <li><img src="./img/mainre.png"></li>
          <li><img src="./img/mainre.png"></li>
          <li><img src="./img/mainre.png"></li>
          <li><img src="./img/mainre.png"></li>
        </ul>
      </div>
    </div>

  <footer data-th-replace="/fragments/footer.html :: fragment-footer"></footer>

    <script src="js/onemoa.js"></script>
</body>
</html>