<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>onemoa</title>
  <link href="/onemoa/css/onemoa.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="/onemoa/js/login.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
  <link rel="shortcut icon" href="./img/favicon3.ico">
  <link rel="icon" href="./img/favicon3.ico">
</head>
<body style="overflow-x: hidden">
  <div data-th-replace="/fragments/nav.html :: fragment-nav"></div>

  <div class="slidebox2">
    <input type="radio" name="slideb" id="slide1" checked>
    <input type="radio" name="slideb" id="slide2">
    <input type="radio" name="slideb" id="slide3">
    <input type="radio" name="slideb" id="slide4">
    <ul class="slidelist">
      <li class="slideitem">
        <div>
          <label for="slide4" class="left"></label>
          <label for="slide2" class="right"></label>
          <a><img src="./img/mainb.png"></a>
        </div>
      </li>
      <li class="slideitem">
        <div>
          <label for="slide1" class="left"></label>
          <label for="slide3" class="right"></label>
          <a><img src="./img/mainb2.png"></a>
        </div>
      </li>
      <li class="slideitem">
        <div>
          <label for="slide2" class="left"></label>
          <label for="slide4" class="right"></label>
          <a><img src="./img/mainb3.png"></a>
        </div>
      </li>
      <li class="slideitem">
        <div>
          <label for="slide3" class="left"></label>
          <label for="slide1" class="right"></label>
          <a><img src="./img/mainb4.png"></a>
        </div>
      </li>
    </ul>
  </div>

  <div class="mainContents">

    <div class="mainCategory">
      <p>관심카테고리</p>
      <ul class="mctg">
        <li><a href="#"><img src="./img/mainctg1.png"></a></li>
        <li><a href="#"><img src="./img/mainctg2.png"></a></li>
        <li><a href="#"><img src="./img/mainctg3.png"></a></li>
        <li><a href="#"><img src="./img/mainctg4.png"></a></li>
        <li><a href="#"><img src="./img/mainctg5.png"></a></li>
      </ul>
    </div>

    <div class="mainContest">
      <p>인기 공모전</p>
      <ul class="mcon">
        <li><a href="/onemoa/contest/contestTeam?no=all"><img src="./img/mainc1.png" onmouseover="this.src='./img/mainc11.png'" onmouseout="this.src='./img/mainc1.png'"></a></li>
        <li><a href="/onemoa/contest/contestTeam?no=all&ono=1"><img src="./img/mainc2.png" onmouseover="this.src='./img/mainc22.png'" onmouseout="this.src='./img/mainc2.png'"></a></li>
        <li><a href="/onemoa/contest/contestTeam?no=all&ono=2"><img src="./img/mainc3.png" onmouseover="this.src='./img/mainc33.png'" onmouseout="this.src='./img/mainc3.png'"></a></li>
        <li><a href="/onemoa/contest/contestTeam?no=all&ono=3"><img src="./img/mainc4.png" onmouseover="this.src='./img/mainc44.png'" onmouseout="this.src='./img/mainc4.png'"></a></li>
      </ul>
    </div>

    <!--  메인페이지 인기 공모전 스위퍼  -->
    <div class="contestWidth" style="position: relative;">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-th-each="contest: ${contests}">
            <ul>
              <li><img data-th-src="@{/contest/files/{path}(path=${contest.thumbNail})}" style="height: auto"></li>
              <li><p data-th-text="${contest.contCategory.categoryName}" style="font-size: 1vw; color: gray;"></p></li>
              <li><p data-th-text="${contest.title}" style="font-size: 1.2vw"></p></li>
            </ul>
          </div>
        </div>
      </div>
        <div class="swiper-button-next" style="position: absolute; top: 40%; right: 4.5%;"></div>
        <div class="swiper-button-prev" style="position: absolute; top: 40%; left: 4.5%;"></div>
    </div>

    <div class="mainReview">
      <p class="reviews">ONEMOA 에서 거래한 다른 사람들의 <span>다양한 리얼 후기를 만나보세요. </span></p>
      <div class="gallery">
        <ul class="clearfix">
          <li data-th-each="review : ${reviews}">
              <img data-th-each="file : ${review.productReviewAttachedFiles}" src="./img/mainre.png" data-th-src="@{product/reviewfiles/{path}(path=${file.filepath})}" style="display: inline-block; width: 100%; height: 200px;">
              <p class="rev" data-th-text="${review.writer.nickname}" style="font-size: 1vw; color: gray;"></p>
              <p class="rev" data-th-text="${'별점'+ review.score}" style="font-size: 1vw; color: blue;"></p>
              <p data-th-text="${review.title}" style="font-size: 1vw;"></p>
              <p data-th-text="${review.content}"></p>
          </li>
        </ul>
      </div>
    </div>


  <footer data-th-replace="/fragments/footer.html :: fragment-footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <script src="js/onemoa.js"></script>

    <script>
      let swiper = new Swiper(".mySwiper", {
        slidesPerView: 5,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
</body>
</html>