<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>onemoa mypage</title>
    <link href="/onemoa/css/onemoa.css" rel="stylesheet">
    <link href="/onemoa/css/onemoaMypage.css" rel="stylesheet">
    <link href="/onemoa/css/onemoaManage.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/onemoa/js/onemoa.js"></script>
    <link rel="icon" href="./img/favicon1.ico">
    <link rel="shortcut icon" href="./img/favicon1.ico">
  </head>
  <body style="overflow-x: hidden">
    <ul class="myPage">
      <li class="mypageArea">
        <div class="mypageNav">
          <div class="myonemoa">
            <p>관리자페이지</p>
            <span class="mybar">
          </div>
          <ul class="mynav">
            <li><a class="font" href="./managePage">회원관리</a></li>
            <li><a class="font2" href="contest/contestList">공모전관리</a></li>
            <li><a class="font2" href="">재능판매관리</a></li>
            <li><a class="font2" href="">1:1문의관리</a></li>
            <li><a class="font2" href="">FAQ관리</a></li>
            <li><a class="font2" href="">공지사항관리</a></li>
            <li><a class="font2" href="">카테고리관리</a></li>
          </ul>
        </div>
      </li>
      <li class="mypageArea">
        <div class="mypagePortfolio">
          <p>공모전관리만 구현됨</p>
        </div>
      </li>
    </ul>



  </body>
</html>
