<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>onemoa v</title>
  <link href="/onemoa/css/onemoa.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="/onemoa/js/login.js"></script>
</head>
<body style="overflow-x: hidden">
<div data-th-replace="/fragments/nav.html :: fragment-nav"></div>

  <div class="pagelogin-container">
    <div calss="login_container2">
      <p>로그인</p>
      <form action='loginPage' method="post">
        <table class="input_login" >
          <tr>
            <td><input name='email' type='email' id='emailPage' value="user1@test.com" placeholder="이메일을 입력해 주세요." data-th-value="${email}"></td>
          </tr>
          <tr>
            <td><input name='password' type='password' id='passwordPage' placeholder="패스워드를 입력해 주세요."></td>
          </tr>
        </table>
        <div class="email-password-checkbox">
          <input
              type="text"
              id="emailPasswordCheckPage"
              value=""
              required
              readonly
              style="font-size: 1vw; color: #ff0000; border: none; display: none; outline:none; width: 100%; text-align: center" />
        </div>
        <label for="label-a"><input type="checkbox" name="saveEmail" id="saveEmailPage">이메일 유지<br></label>
        <p class="find"><a href = "/onemoa/member/findIdPw">아이디 찾기</a> / <a href = "/onemoa/member/findIdPw">패스워드 찾기</a></p>
        <p>
          <button type='button' class="loginbtn" id="loginPage"><img src="/onemoa/img/loginbtn.png"></button>
        </p>
      </form>
      <div class="sns">
        <p class="snsp">SNS로 간편하게 로그인하세요.</p>
        <a href="#"><img src="/onemoa/img/kakao.png"></a>
        <a href="#"><img src="/onemoa/img/naver.png"></a>
        <a href="#"><img src="/onemoa/img/google.png"></a>
      </div>
      <div class="sign">
        <a href="joinform"><img src="/onemoa/img/signup.png"></a>
      </div>
    </div>
  </div>

<script src="/onemoa/js/onemoa.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="/onemoa/js/findIdPw.js"></script>
<script>
  // TODO 1. JQuery 사용해서 쿠키값안에 email 값 찾아서 login시 email ID 값에 추가.
  // TODO 2. cookie 2번
  // console.log($.cookie("email"));
  $("#email").val($.cookie("email"));
</script>

<script>
  const body = document.querySelector('body');
  const modal = document.querySelector('.modal');
  let contestNumber = ""

  $(".btn-open-popup").click(() => {
    modal.style.display = 'block';

    if (modal.classList.contains('show')) {
      body.style.overflow = 'hide';
    }
    body.style.overflow = 'hidden';
  });

  $(".closebtn").click(() => {
    modal.style.display = 'none';
    body.style.overflow = 'auto';
  });
</script>
</body>
</html>