<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table border='1' id="xx-board-table">
  <thead>
  <tr>
    <th>번호</th>
    <th>이름</th>
    <th>이메일</th>
    <th>닉네임</th>
    <th>가입일</th>
  </tr>
</thead><th:block th:fragment="memberList" th:each="member : ${members}">
  <tbody>
    <tr>
      <td data-th-text="${member.no}">100</td>
      <td data-th-text="${member.name}">홍길동</td>
      <td data-th-text="${member.email}">test@test.com</td>
      <td data-th-text="${member.nickname}">찰스</td>
      <td data-th-text="${member.createdDate}">홍길동</td>
    </tr>
    </tbody>
</th:block>
</table>
</body>
</html>