<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<select id="selectBox">
</select>
<script>
  $("#selectBox").append("<option vlaue='10'>포트폴리오 입니다.</option>");
  $.ajax({
    type: "POST",
    url: "/onemoa/test1",
    success: function (result) {
      console.log(result);
      console.log(result.contest.title);
      console.log(result.member.nickname);
    }
  })
</script>
</body>
</html>