<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.1/kakao.min.js"
        integrity="sha384-eKjgHJ9+vwU/FCSUG3nV1RKFolUXLsc6nLQ2R1tD0t4YFPCvRmkcF8saIfOZNWf/" crossorigin="anonymous"></script>

<p>SNS 로그인</p>
<div class="border p-3 mb-4 bg-light d-flex justify-content-between">
<!--  카카오 로그인 처리중 중 오류가 발생하면 아래 경고창에 표시된다.-->
<!--  카카오 로그인 오류는 스크립트에서 아래 경고창에 표시합니다.-->
  <div class="alert alert-danger d-none" id="alert-kakao-login">오류 메세지</div>

  <a href="https://kauth.kakao.com/oauth/authorize?client_id=e7ad2c8401c0bd7addc89d031b7a478d&redirect_uri=http://localhost:3333/onemoa/snsKakologin&response_type=code"><img src="//k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="200" alt="카카오 로그인 버튼"/></a>
  <a id="btn-kakao-login" href="#">
    <img src="//k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="200" alt="카카오 로그인 버튼"/>
  </a>
</div>
<form id="form-kakao-login" method="post" action="kakao-login">
  <input type="text" name="email">60179c22a7d98750341129aab71f0a48</input>
  <input type="text" name="name"/>
  <input type="text" name="img"/>
</form>


<script>
    $("#btn-kakao-login").click(function() {
      // 카카오 로그인 실행시 오류메시지를 표시하는 경고창을 화면에 보이지 않게 한다.
      $("alert-kakao-login").addClass("d-none");
      // 사용자 키를 전달, 카카오 로그인 서비스 초기화.
      Kakao.init('60179c22a7d98750341129aab71f0a48'); // 사용하려는 앱의 JavaScript 키 입력
      Kakao.Auth.authorize({
        redirectUri: "http://localhost:3333/onemoa/snsKakologin",
        scope: "account_email",

      });
    });
</script>

</body>
</html>