<!DOCTYPE html>
<html lang="en" xmlns:display="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>로그인</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <!-- Responsive-->
  <link rel="stylesheet" href="../css/responsive.css">
  <!-- fevicon -->
  <link rel="icon" href="images/fevicon.png" type="../image/gif" />
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <!-- owl stylesheets -->
  <link rel="stylesheet" href="../css/owl.carousel.min.css">
  <link rel="stylesheet" href="../css/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <style>
    .btnon1 {
      height: 65px;
      width: 460px;
      margin-top: 1px;
      border: none;
      border-radius: 10px;
      font-size: 25px;
      font-weight: bold;
      background-color: #000;
      color: white;
    }

    .contact_text1{
      width: 100%;
      float: left;
      font-size: 36px;
      color: #ffffff;
      margin-left: 200px;

    }

    .col-md-7 {
      margin-left: 14vw;
      margin-right: 14vw;
    }


  </style>


</head>
<body>
<!-- header section start -->
<div class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="main_logo"><a href="../"><img src="../images/logo.png"></a></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="party/list">운동찾기</a></li>
          <li class="nav-item"><a class="nav-link" href="board/main">커뮤니티</a></li>
          <li class="nav-item"><a class="nav-link" href="shop.html">공지사항</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- header section end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
  <div class="container">
    <div class="col-md-7">
      <div class="col-md">
          <table border='1'>
            <h1 class="contact_text1">ID</h1>
            <input type="hidden" name ="id"  id = "id">
            <tr>
              <input type="text" class="email-bt" placeholder="이름를 입력해주세요" size='30' name ="name"  id = "name">
            </tr>
            <tr>
              <input type="text" class="email-bt" placeholder="E-Mail를 입력해주세요" size='30' name ="email"  id = "email">
            </tr>
          </table>
          <p>
            <button type="button"class="btnon1" id = "findID" onclick = "bt();">ID찾기</button>
          </p>
      </div>
    </div>
  </div>
</div>
<div class="copyright_section">
  <div class="container">
    <div class="social_icon">
      <ul>
        <li><a href="#"><img src="../images/fb-icon.png"></a></li>
        <li><a href="#"><img src="../images/twitter-icon.png"></a></li>
        <li><a href="#"><img src="../images/instagram-icon.png"></a></li>
        <li><a href="#"><img src="../images/linkedin-icon.png"></a></li>
      </ul>
    </div>
    <p class="copyright_text">
      2020 All Rights Reserved. Design by <a href="https://html.design">Comehere</a>
    </p>
  </div>
  <!-- copyright section end -->

  <script>
    function bt() {
      var name = $("#name").value;
      var email = $("#email").value;

      if (name == '' && email == '') {
        swal("ID나 password을 입력해주세요");
        return false;
      }
      $.ajax({
        type: "GET",
        url: "findIdCheck",
        data: {name:name, email:email},
        success: function(data) {
          console.log(data);
          if(data != 'false'){
            swal({
              text: "회원 ID는" + data + "입니다.",
            }).then((result) => {
            });;
          } else {
            swal("이름과 Email이 다릅니다.")
          }
        }
      });
    }
  </script>


  <!— Javascript files—>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/jquery-3.0.0.min.js"></script>
  <script src="../js/plugin.js"></script>
  <!— sidebar —>
  <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="../js/custom.js"></script>
  <!— javascript —>
  <script src="../js/owl.carousel.js"></script>
  <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</div>
</body>
</html>