<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset = "UTF-8">
    <title>onemoa mypage</title>
    <link href="/onemoa/css/onemoa.css" rel="stylesheet">
    <link href="/onemoa/css/onemoaMypage.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/onemoa/js/onemoa.js"></script>
</head>
<style>
    .tableStyle {
        text-align: center;
    }
</style>
<body>
<div><img id="noticeBanner" src="../img/contestbg.png" alt=""></div>
<div id="underBanner"></div>
<ul class="myPage">
    <li class="mypageArea">
        <div class="mypageNav">
            <div class="myonemoa">
                <p>관리자페이지</p>
                <span class="mybar">
            </div>
            <ul class="mynav">
                <li><a class="font2" href="/onemoa/admin/member/memberList">회원관리</a></li>
                <li><a class="font2" href="/onemoa/admin/contest/contestList">공모전관리</a></li>
                <li><a class="font2" href="">재능판매관리</a></li>
                <li><a class="font" href="/onemoa/admin/qna/list">1:1문의관리</a></li>
                <li><a class="font2" href="/onemoa/admin/faq/list">FAQ관리</a></li>
                <li><a class="font2" href="">공지사항관리</a></li>
                <li><a class="font2" href="">카테고리관리</a></li>
            </ul>
        </div>
    </li>
    <li class="mypageArea">
      <div class="member">
        <h1>1:1 문의 목록</h1>
        <table border='1'>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
            <th>답변상태</th>
          </tr>
          <tr data-th-each="qna : ${qnas}">
            <td data-th-text="${qna.no}">100</td>
            <td><a href='detail?no=1' data-th-href="@{answerdetail(no=${qna.no})}" data-th-text="${qna.title == ''} ? '(제목없음)' : ${qna.title}">제목</a></td>
            <td data-th-text="${qna.writer.name}">홍길동</td>
            <td data-th-text="${#temporals.format(qna.createdDate, 'yyyy-MM-dd')}">2022-1-1</td>
            <td data-th-if="${qna.answer == null}"><a href='detail?no=1' data-th-href="@{answerdetail(no=${qna.no})}">답변대기</a></td>
            <td data-th-if="${qna.answer != null}">답변완료</td>
          </tr>
        </table>
      </div>
      <div class="nextBox">
        <nav class="xx-nav" aria-label="pagination">
          <ul class="xx-pagination">
            <li data-th-if="${pageMaker.prev}">
              <a data-th-href="@{list(pageMaker.startPage-1)}"><span aria-hidden="true">이전페이지</span><span class="xx-visuallyhidden">previous set of pages</span></a>
            </li>
            <data-th-block data-th-each="pageNum: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
              <li><a data-th-href="@{list(page=${pageNum})}"><span class="xx-visuallyhidden">page </span><span data-th-text="${pageNum}"></span></a></li>
            </data-th-block>
            <li data-th-if="${pageMaker.next && pageMaker.endPage >0}">
              <a data-th-href="@{list(page=${pageMaker.endPage+1})}"><span class="xx-visuallyhidden">next set of pages</span><span aria-hidden="true">다음페이지</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </li>
</ul>

</body>
</html>
