<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset = "UTF-8">
    <title>onemoa mypage</title>
    <link href="/onemoa/css/onemoa.css" rel="stylesheet">
    <link href="/onemoa/css/onemoaMypage.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/onemoa/js/onemoa.js"></script>
</head>
<style>
    .tableStyle {
        text-align: center;
    }
</style>
<body>
<div><img id="noticeBanner" src="../img/contestbg.png" alt=""></div>
<div id="underBanner"></div>
<ul class="myPage">
    <li class="mypageArea">
        <div class="mypageNav">
            <div class="myonemoa">
                <p>관리자페이지</p>
                <span class="mybar">
            </div>
            <ul class="mynav">
                <li><a class="font2" href="/onemoa/admin/member/memberList">회원관리</a></li>
                <li><a class="font2" href="/onemoa/admin/contest/contestList">공모전관리</a></li>
                <li><a class="font2" href="">재능판매관리</a></li>
                <li><a class="font" href="/onemoa/admin/qna/list">1:1문의관리</a></li>
                <li><a class="font2" href="/onemoa/admin/faq/list">FAQ관리</a></li>
                <li><a class="font2" href="">공지사항관리</a></li>
                <li><a class="font2" href="">카테고리관리</a></li>
            </ul>
        </div>
    </li>
    <li class="mypageArea">
        <div>
            <h1 style="text-align: center; padding-right: 10vw">1:1 문의 목록</h1>
            <div class="container">
                <table style="width: 50vw" class="table">
                    <tr>
                        <th class="tableStyle">번호</th>
                        <th class="tableStyle">제목</th>
                        <th class="tableStyle">작성자</th>
                        <th class="tableStyle">등록일</th>
                        <th class="tableStyle">답변상태</th>

                    <tr data-th-each="qna : ${qnas}">
                        <td  class="tableStyle" data-th-text="${qna.no}">100</td>
                        <td  class="tableStyle">
                            <!--        <tr data-th-each="qna, state : ${qnas}">-->
                            <!--            <td data-th-text="${state.count}">100</td>-->
                            <!--            <td>-->
                            <a href='detail?no=1'
                               data-th-href="@{answerdetail(no=${qna.no})}"
                               data-th-text="${qna.title == ''} ? '(제목없음)' : ${qna.title}">제목</a>
                        </td>
                        <td class="tableStyle" data-th-text="${qna.writer.name}">홍길동</td>
                    <td class="tableStyle" data-th-text="${#temporals.format(qna.createdDate, 'yyyy-MM-dd')}">2022-1-1</td>
                        <td class="tableStyle" data-th-if="${qna.answer == null}"><a href='detail?no=1'
                                                                  data-th-href="@{answerdetail(no=${qna.no})}">답변대기</a></td>
                        <td class="tableStyle" data-th-if="${qna.answer != null}">답변완료</td>
                    </tr>
                    </table>
                <!-- 페이징 -->
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled" th:if="${pageMaker.prev}">
                        <a class="page-link"
                           th:href="@{list(pageMaker.startPage-1)}" aria-label="Previous">
                            <span aria-hidden="true">이전페이지</span>
                        </a>
                    </li>
                    <th:block th:each="pageNum: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                        <li class="page-item">
                            <a class="page-link" th:href="@{list(page=${pageNum})}"><i th:text="${pageNum}"></i></a>
                        </li>
                    </th:block>
                    <li class="page-item" th:if="${pageMaker.next && pageMaker.endPage >0}">
                        <a class="page-link" th:href="@{list(page=${pageMaker.endPage+1})}" aria-label="Next">
                            <span aria-hidden="true">다음페이지</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>

</body>
</html>
