<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>onemoa v</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../js/onemoa.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <link href="../css/onemoa.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</head>

<style>
  .length1 {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .pbn {
    width: 100%
  }

  .categoryA-container{
    float: left;
  }

  .categoryB-container{
    float: left;
  }

  .rule {
    resize : none;
    width: 100%;
  }

</style>

<body style="overflow-x: hidden">
<div class="modal" style="position: absolute; z-index: 1">
  <div class="modal_body">
    <div calss="login_container">
      <button class="closebtn"><img src="../img/x.png" /></button>
      <p>로그인</p>
      <form action="auth/login" method="post">
        <table class="input_login">
          <tr>
            <td>
              <input
                  name="email"
                  type="email"
                  value=""
                  placeholder="이메일을 입력해 주세요."
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                  name="password"
                  type="password"
                  placeholder="패스워드를 입력해 주세요."
              />
            </td>
          </tr>
        </table>
        <p>
          <button type="submit" class="loginbtn">
            <img src="img/loginbtn.png" />
          </button>
        </p>
        <input type="checkbox" name="saveEmail" id="email" /><label
          for="label-a"
      >이메일 유지</label
      ><br />
        <p class="find"><a href="#">아이디 / 패스워드 찾기</a></p>
      </form>
      <div class="sns">
        <p>SNS로 간편하게 로그인하세요.</p>
        <a href="#"><img src="../img/kakao.png" /></a>
        <a href="#"><img src="../img/naver.png" /></a>
        <a href="#"><img src="../img/google.png" /></a>
      </div>
      <div class="sign">
        <a href="#"><img src="../img/signup.png" /></a>
      </div>
    </div>
  </div>
</div>

<header>
  <div class="nav">
    <a href="/onemoa"><p class="logo">ONEMOA</p></a>
    <ul class="firstnav">
      <li data-th-if="${session.loginMember != null}">
        <a
            href="auth/logout"
            data-th-text="${session.loginMember.name} + '(로그아웃)'"
        >홍길동(로그아웃)</a
        >
      </li>
      <li data-th-if="${session.loginMember == null}">
        <button class="btn-open-popup">로그인</button>
      </li>
      <li><a href="#">마이페이지</a></li>
      <li><a href="#">메시지</a></li>
    </ul>
  </div>

  <div class="menu">
    <ul class="secnav">
      <li>
        <a href="contestTeam"><p>공모전</p></a>
      </li>
      <li>
        <a href="#"><p>재능판매</p></a>
      </li>
    </ul>
  </div>
</header>

<img class=pbn src="../img/productbg.png" alt="이미지를 찾을 수 없습니다.">
<div class=length1>
  <form action="add" method="POST" enctype="multipart/form-data">
    <div class="productForm-grid-container">
      <div class="productForm-grid-item"><p>재능판매 등록</p></div>
      <div class="productForm-grid-item">
      </div>

      <p data-th-text="${productCategories}"></p>
      <p data-th-if="${productCategories.tier} == 1"></p>

      <div class="categoryA-container">
        <label for="categoryA">상위 카테고리 선택</label><br />
        <select class="productForm-category" id="categoryA">
          <option value="">상위 카테고리 선택</option>
        </select>
      </div>
      <div class="productForm-grid-item">
        <div class="categoryB-container">
          <label for="code">하위 카테고리 선택</label><br />
          <select name="productCategory.code" class="productForm-category" id="code">
            <option value="010100">하위 카테고리 선택</option>
            <option value="010200">ㅇㄹㄴㅇㄹ</option>
          </select>
        </div>

      </div>
    </div>

    <div><br>
    </div>
    <div><br>
    </div>
    <div><br>
    </div>
    <div class="input-group">
      <span class="input-group-addon">가격</span>
      <input name="price" id="price" type="number" class="form-control" min="1000" max="10000000" step="1000" placeholder="가격을 원(₩) 단위로 입력해주세요."/>
    </div>
    <div class="productForm-grid-item">
      <div class="productForm-grid-item">
        <div class="input-group">
          <span class="input-group-addon">제목</span>
          <input name="title" id="title" type="text" class="form-control" maxlength="100" placeholder="제목을 입력해주세요.(최대 100 자) "/>
        </div>
        <textarea name="content" style="width: 90%; height: 90%">

          </textarea>
        <div class="productForm-grid-item">수정 및 재진행<div>

          <textarea name="rule" class="rule">
          </textarea>
        </div>

          <div class="productForm-grid-item">
            <div class="productForm-grid-item2">
              <span>메인이미지등록(필수) 0/4</span>
              <input
                  class="productForm-inputbox1"
                  name="files"
                  type="file"
                  multiple
              />
              <img
                  width="200px"
                  src="/img/productFromMain.png"
                  onclick="document.all.files1.click();"
              />
            </div>

            <div class="productForm-grid-item">
              <button type="submit" class="btn btn-default">등록</button>
              <button type="button" class="btn btn-default">취소</button>
            </div>
          </div>
        </div>
  </form>
  <div></div>
</div>
</div>    </div>    </div>

<footer>
  <ul class="footerMenu">
    <li>
      <a href="#"><p>공지사항</p></a>
    </li>
    <li>
      <a href="#"><p>1 : 1 문의</p></a>
    </li>
  </ul>
  <div class="detail">
    (주)ONEMOA | 서울시 강남구 비트캠프 8층 | 대표 : 000 |
    개인정보관리책임자 : 000 | 고객센터 : 1234-1234
    <span
    >고객센터 영업시간 10:30 ~ 18:00 ( 점심시간 13:00 ~ 14:00) 주말,
          공휴일 휴무 | ONEMOA@onemoa.com |
        </span>
    <span>Copyright 2022 ONEMOA lnc.All rights reserved</span>
  </div>
</footer>

<script>
  $(document).ready(function() {
    $('textarea[name=content]').html('');
    $('textarea[name=content]').summernote({
      height: 500,                 // set editor height
      minHeight: 500,             // set minimum height of editor
      maxHeight: 500,             // set maximum height of editor
      maxWidth: 500,
      placeholder : '내용'
    });
  });

  const body = document.querySelector("body");
  const modal = document.querySelector(".modal");
  const btnOpenPopup = document.querySelector(".btn-open-popup");
  const closebtn = document.querySelector(".closebtn");

  btnOpenPopup.addEventListener("click", () => {
    modal.style.display = "block";

    if (modal.classList.contains("show")) {
      body.style.overflow = "hide";
    }
    body.style.overflow = "hidden";
  });

  closebtn.addEventListener("click", () => {
    modal.style.display = "none";
    body.style.overflow = "auto";
  });


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
