<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>onemoa</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/onemoa/css/onemoa.css" rel="stylesheet">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <script src="/onemoa/js/login.js"></script>
  <script src="../js/onemoa.js"></script>
</head>
<body style="overflow-x: hidden">

<div data-th-replace="/fragments/nav.html :: fragment-nav"></div>
<main id="noticeForm">
  <div class="container">
    <h1 style="text-align: center; padding-right: 15vw">공지사항</h1>
  <form style="margin-left:10vw; margin-right:10vw;" action='add' method="post" enctype="multipart/form-data">
    <input id="title" class="form-control" name="title" type="text" placeholder="제목" required>
    <textarea id="summernote" name='content' rows='10' cols='60' placeholder="내용"></textarea>
    <button id ="cancel" type="button" class="btn btn-secondary btn-sm"><a href="./list">취소</a></button>
    <button id="register" type="submit" class="btn btn-primary btn-sm" >등록</button>
  </form>
  </div>
</main>
  <!--
    관리자가 로그인한 상태 : 수정/삭제/목록으로 버튼 보임
    회원이  로그인한 상태 : 목록으로 버튼만 보임 
  <script>
    const deleteBtn = document.querySelector('#delete');
    const editBtn = document.querySelector('#edit');
    const backToListBtn = document.querySelector('#backToList');
    
    if (sessionStorage.getItem() {
      
    }
    
    btnOpenPopup.addEventListener('click', () => {
      modal.style.display = 'block';
      
      if (modal.classList.contains('show')) {
        body.style.overflow = 'hide';
      }
      body.style.overflow = 'hidden';
    });
    
    closebtn.addEventListener('click', () => {
      modal.style.display = 'none';
      body.style.overflow = 'auto';
    });
    
    
  </script>
-->

  <script>
  $('#summernote').summernote({
	  height: 500,                 // set editor height
	  minHeight: 500,             // set minimum height of editor
	  maxHeight: 500,             // set maximum height of editor
	  placeholder : '내용'
	});
  </script>
  <script>
  <!-- summernote 내용 필수 입력화 코드 -->
  $('#register').click(function() {
	  
	  if($('#summernote').summernote('isEmpty')) {
		  alert('내용을 입력하세요!');
	    console.log('내용을 입력하세요!');

	  }
	});
  </script>

<footer data-th-replace="/fragments/footer.html :: fragment-footer"></footer>
</body>
</html>