<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset = "UTF-8">
  <title>onemoa</title>
  <link href="../css/onemoa.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="../js/onemoa.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="overflow-x: hidden">

<div class="modal"style="position: absolute; z-index: 1;">
  <div class="modal_body">
    <div calss="login_container">
      <button class="closebtn"><img src="../img/x.png"></button>
      <p>로그인</p>
      <form action='login' method="post">
        <table class="input_login" >
          <tr>
            <td><input name='email' type='email' id='email' value="user1@test.com" placeholder="이메일을 입력해 주세요." data-th-value="${email}"></td>
          </tr>
          <tr>
            <td><input name='password' type='password' id='password' placeholder="패스워드를 입력해 주세요."></td>
          </tr>
        </table>
        <div class="email-password-checkbox">
        <input
            type="text"
            id="emailPasswordCheck"
            value=""
            readonly
            style="font-size: 1vw; color: #ff0000; border: none; display: none; outline:none; width: 100%; text-align: center" />
        </div>
        <label for="label-a"><input type="checkbox" name="saveEmail" id="email2">이메일 유지<br></label>
        <p class="find"><a href = "#">아이디 찾기</a> / <a href = "#">패스워드 찾기</a></p>
        <p>
          <button type='button' class="loginbtn" id="adminCheck"><img src="../img/loginbtn.png"></button>
        </p>
      </form>
      <div class="sns">
        <p class="snsp">SNS로 간편하게 로그인하세요.</p>
        <a href="#"><img src="../img/kakao.png"></a>
        <a href="#"><img src="../img/naver.png"></a>
        <a href="#"><img src="../img/google.png"></a>
      </div>
      <div class="sign">
        <a href="joinform"><img src="../img/signup.png"></a>
      </div>
    </div>
  </div>
</div>

<header>
  <div class="nav">
    <a href="http://localhost:8888/onemoa/"><p class="logo">ONEMOA</p></a>
    <ul class="firstnav">
      <li data-th-if="${session.loginMember != null}"><a href="http://localhost:8888/onemoa/logout" data-th-text="로그아웃">로그아웃</a></li>
      <li><button class="btn-open-popup" data-th-if="${session.loginMember == null}">로그인</button></li>
      <li><a href="#">마이페이지</a></li>
      <li><a href="#">메시지</a></li>
    </ul>
  </div>

  <div class="menu">
    <ul class="secnav">
      <li><a href="contestTeam"><p>공모전</p></a></li>
      <li><a href="#"><p>재능판매</p></a></li>
    </ul>
  </div>
</header>
<main id="noticeList">
  <div><img id="noticeBanner" src="../img/contestbg.png" alt=""></div>
  <div id="underBanner"></div>
  <div class="container">
      <table class="table">
        <thead>
         <tr>
           <th>No</th>
           <th>제목</th>
           <th>작성자</th>
           <th>등록일</th>
         </tr>
        </thead>
        <tbody>
         <tr data-th-each="notice, state : ${notices}">
          <td th:utext="${state.count}">3</td>
          <td>
            <a href='detail?no=1'
              data-th-href="@{detail(no=${notice.no})}"
              data-th-text="${notice.title == ''} ? '(제목없음)' : ${notice.title}">제목</a>  
          </td>
          <td>관리자</td>
          <td data-th-text="${notice.createdDate}">등록일</td>
          <!-- 수정/삭제 버튼  -->
         </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary btn-sm" id="backToMain"><a href="./form">새 글</a></button>
      <button type="button" class="btn btn-primary btn-sm" id="backToMain"><a href="http://localhost:8888/onemoa/">메인으로 돌아가기</a></button>
  </div>
</main>

  <footer>
    <ul class="footerMenu">
      <li><a href="http://localhost:8888/onemoa/notice/list"><p>공지사항</p></a></li>
      <li><a href="#"><p>1 : 1 문의</p></a></li>
    </ul>
    <div class="detail">

      (주)ONEMOA  | 서울시 강남구 비트캠프 8층 | 대표 : 000 | 개인정보관리책임자 : 000 | 고객센터 : 1234-1234
      <span>고객센터 영업시간 10:30 ~ 18:00 ( 점심시간 13:00 ~ 14:00) 주말, 공휴일 휴무 | ONEMOA@onemoa.com | </span>
      <span>Copyright 2022 ONEMOA lnc.All rights reserved</span>

    </div>
  </footer>


  <script>
    const body = document.querySelector('body');
    const modal = document.querySelector('.modal');
    const btnOpenPopup = document.querySelector('.btn-open-popup');
    const closebtn = document.querySelector('.closebtn');

    btnOpenPopup.addEventListener('click', () => {
      modal.style.display = 'block';

      if (modal.classList.contains('show')) {
        body.style.overflow = 'hide';
      }
      body.style.overflow = 'hidden';
    });

    closebtn.addEventListener('click', () => {
      modal.style.display = 'none';
      body.style.overflow = 'auto';
    });

    // 로그인 ajax 비동기 처리
    $(".loginbtn").click(function () {
      var email = $("#email").val();
      var password = $("#password").val();
      var saveEmail = $("#saveEmail").val();

      $.ajax({
        type: "POST",
        url: "/onemoa/login",
        data: { email: email, password: password, saveEmail: saveEmail},
        success: function (result) {
          if(result == "true") {
            window.location.reload();
          } else if (result == "false") {
            document.getElementById("emailPasswordCheck").style.display = "block";
            document.getElementById("emailPasswordCheck").value="이메일 또는 비밀번호가 일치하지 않습니다.";
            document.getElementById("emailPasswordCheck").style.color="red";
          }
        },
      });
    });
  </script>
  <script>

  </script>
  
  
</body>
</html>
