<!DOCTYPE html>
<html lang="ko" xmlns:data-th-="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset = "UTF-8">
    <title>onemoa mypage</title>
    <link href="/onemoa/css/onemoa.css" rel="stylesheet">
    <link href="/onemoa/css/onemoaMypage.css" rel="stylesheet">
    <link href="/onemoa/css/message.css" rel="stylesheet">
    <link rel="icon" href="../img/favicon1.ico">
    <link rel="shortcut icon" href="../img/favicon1.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/onemoa/js/onemoa.js"></script>
  </head>
  <body style="overflow-x: hidden">

  <div data-th-replace="/fragments/nav.html :: fragment-nav"></div>

  <ul class="myPage">
      <li class="mypageArea">
        <div class="nick">
        </div>
        <div class="mypageNav">
          <div class="myonemoa">
            <p>전체 메시지</p>
            <span class="mybar"></span>
          </div>

<!-- 메시지 상세보기 -->
          <ul class="mynav">
            <li class="message" data-th-each="message : ${messages}" data-th-if="${member.no} != ${message.receiver}">
                <img data-th-if="${member.no} != ${message.receiver}" data-th-src="@{/member/files/{path}(path=${message.writer.profile})}" data-th-id="${message.writer.no}" onclick="messageDetail(this.id)"
                class="messageProfile"/>
                <span class="messageNick" data-th-if="${member.no} != ${message.receiver}" data-th-text="${message.writer.nickname}"></span>
            </li>
          </ul>
          
        </div>

      </li>
      <li class="mypageArea">
        <div class="mypagePortfolio">
          <p class="mptxt2" data-th-text="${receiverMember.nickname}+'님과의 대화입니다.'" style="font-weight: normal;"></p>
          <div class="chatArea">
            <div class="chat" data-th-each="detail : ${details}">
              <div class="senderdiv">
                <div class="xx-senderDiv" data-th-if="${member.no} == ${detail.sender}">
                  <p class="xx-senderP" data-th-text="${detail.cont}" ></p>
                  <p class="xx-sender" data-th-if="${detail.cont} != null" data-th-text="${#dates.format(detail.cdt, 'MM/dd HH:mm')}"></p>
                </div>
                <div data-th-if="${member.no} == ${detail.sender}" data-th-each="file : ${detail.messageAttachedFiles}">
                  <p data-th-if="${file.filepath} != null">
                    <a data-th-href="|/onemoa/message/files/${file.filepath}|" >
                      <img data-th-src="@{/message/files/{path}(path=${file.filepath})}" style="width: 200px; height: 200px">
                    </a>
                  </p>
                </div>
             </div>
             <div class="receiverdiv">
                <div class="xx-receiverDiv" data-th-if="${member.no} != ${detail.sender}">
                  <p class="xx-receiverP" data-th-text="${detail.cont}"></p>
                  <p class="xx-receiver" data-th-if="${detail.cont} != null" data-th-text="${#dates.format(detail.cdt, 'MM/dd HH:mm')}"></p>
                </div>
                <div data-th-if="${member.no} != ${detail.sender}" data-th-each="file : ${detail.messageAttachedFiles}">
                  <p data-th-if="${file.filepath} != null">
                    <a data-th-href="|/onemoa/message/files/${file.filepath}|" >
                      <img data-th-src="@{/message/files/{path}(path=${file.filepath})}" style="width: 200px; height: 200px">
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
            <form id="sendForm" action="sendContent" method="post" enctype="multipart/form-data">
              <input type="hidden" name="sender" data-th-value="${member.no}"/>
              <input id="receiverBox" type="hidden" name="receiver"/>
              <div>
                <input name='files' type="file" multiple/>
              </div>
              <input class="messagetxt" type="text" name="cont" size="60" onKeyDown="if(window.event.keyCode==13){sendContent()}" placeholder="메시지를 입력하시고 엔터를 눌러주세요.">
            </form>
        </div>
      </li>
    </ul>

  <footer data-th-replace="/fragments/footer.html :: fragment-footer"></footer>
  <script>
    $(document).ready(function() {
      let param = window.location.search;
      let pLength = param.length;
      let receiverNo = param.substring(4, pLength);
      $("#receiverBox").attr("value", receiverNo);
     });

    // 스크롤 최하단으로
    $('.chatArea').stop().animate({ scrollTop: $('.chatArea')[0].scrollHeight }, 0);

    function messageDetail(value){
      let receiverNo = value;
      console.log(receiverNo);
      window.location.href="/onemoa/message/messageDetail?no=" + receiverNo;
    }

    function sendContent(){
      $("#sendForm").submit();
    }
  </script>
  </body>
</html>
